In [1]:
import sqlite3
db_name = "data.db"
conn = sqlite3.connect(db_name)

In [3]:
cur = conn.cursor()

In [4]:
query = """CREATE TABLE user_details(name varchar[50], user_name varchar[50], email varchar[50], password varchar[50])"""

In [5]:
cur.execute(query)

In [6]:
query = """INSERT into user_details(name, user_name, email, password)
            VALUES("Rajendra", "@niroula", "rajen@gmail.com", "oeirjdff43fdfd"), ("Naresh", "@naresh", "nares@gmail.com", "dlkfj234")"""

In [7]:
cur.execute(query)

In [15]:
cur.execute("select * from user_details").fetchall()

[('Rajendra', '@niroula', 'rajen@gmail.com', 'oeirjdff43fdfd'),
 ('Rakesh', '@naresh', 'nares@gmail.com', 'dlkfj234')]

In [16]:
query = """update user_details
        set name = "Rakesh"
        where name = "Naresh"
        """

In [13]:
cur.execute(query)

In [18]:
cur.execute("select * from user_details").fetchall()

[('Rajendra', '@niroula', 'rajen@gmail.com', 'oeirjdff43fdfd'),
 ('Rakesh', '@naresh', 'nares@gmail.com', 'dlkfj234')]

In [25]:
query = """update user_details
        set user_name = "@rakesh", email = "rakesh@gmail.com"
        where name = "Rakesh" 
"""

In [26]:
cur.execute(query)

In [27]:
cur.execute("select * from user_details").fetchall()

[('Rajendra', '@niroula', 'rajen@gmail.com', 'oeirjdff43fdfd'),
 ('Rakesh', '@rakesh', 'rakesh@gmail.com', 'dlkfj234')]

In [39]:
cur.execute("select name from user_details where user_name = '@niroula'").fetchall()

[('Rajendra',)]

In [41]:
query = """delete from user_details
            where name = 'Rakesh'"""

In [42]:
cur.execute(query)

In [43]:
cur.execute("select * from user_details").fetchall()

[('Rajendra', '@niroula', 'rajen@gmail.com', 'oeirjdff43fdfd')]

In [45]:
query = """create table user_details(age int)"""

In [52]:
try:
    cur.execute(query)
except OperationalError as e:
    print(e)

NameError: name 'OperationalError' is not defined