# Pandas
<li>Pandas is an open-source Python package that is built on top of NumPy used for working with data sets.</li> 
<li>The name "Pandas" has a reference to <b>"Python Data Analysis".</b></li>
<li>Pandas is considered to be one of the best data-wrangling packages.</li>
<li>Pandas offers user-friendly, easy-to-use data structures and analysis tools for analyzing, cleaning, exploring and manipulating data.</li>
<li>It also functions well with various other data science Python modules.</li>

# Difference Between NumPy & Pandas

![](images/pandas_vs_numpy.png)

## Why Use Pandas?

<li>Pandas is known for its exceptional ability to represent and organize data.</li>
<li>The Pandas library was created to be able to work with large datasets faster and more efficiently than any other library.</li>
<li>It excels at analyzing huge amounts of data.Pandas allows us to analyze big data and make conclusions based on statistical theories.</li>
<li>Pandas can clean messy data sets, and make them readable and relevant.</li>
<li>By combining the functionality of Matplotlib and NumPy, Pandas offers users a powerful tool for performing <b>data analytics and visualization.</b></li>
<li>Data can be imported to Pandas from a variety of file formats, such as Csv, SQL, Excel, and JSON, among others.</li>
<li>Pandas is a versatile and marketable skill set for data analysts and data scientists that can gain the attention of employers.</li>

## Installation Of Pandas
<li>Go to your terminal, open and activate your virtual environment and then use the following commands for installing pandas.</li>

<code>
    pip install pandas
</code>

## Importing Pandas
<li>We need to import pandas if we want to create a pandas dataframe and perform any analysis on them.</li>
<li>We can import pandas package using the following command:</li>
<code>
    import pandas as pd
</code>

In [11]:
import pandas as pd

## How To Create A Pandas DataFrame
<li>A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, arranged in a table like structure with rows and columns.</li>
<li>We can create a basic pandas dataframe by various methods.</li>
<li>Let's discuss some of the methods to create the given dataframes:</li>

![](images/dataframe.png)

### 1. From Python Dictionary

In [12]:
df1 = pd.DataFrame({'Name': ['Prabhat', 'Hari', 'Shyam',
                             'Sita', 'Mahima', 'Sunil', 'Bhawana'],
                   'Age': [24,34,50,32,18,23,22],
                   'Address': ['Manigram', 'Dhanewa', 'Bardaghat', 'Manglapur',
                              'Bharatpur', 'Kathmandu', 'Ramechap']})

In [13]:
df1

      Name  Age    Address
0  Prabhat   24   Manigram
1     Hari   34    Dhanewa
2    Shyam   50  Bardaghat
3     Sita   32  Manglapur
4   Mahima   18  Bharatpur
5    Sunil   23  Kathmandu
6  Bhawana   22   Ramechap

### 2. From a list of dictionaries

In [14]:
df2 = pd.DataFrame([{'Name': 'Prabhat', 'Age': 24, 'Address' : 'Manigram'},
                    {'Name': 'Hari', 'Age': 34, 'Address' : 'Dhanewa'},
                    {'Name': 'Shyam', 'Age': 50, 'Address' : 'Bardaghat'},
                    {'Name': 'Sita', 'Age': 32, 'Address' : 'Manglapur'},
                    {'Name': 'Mahima', 'Age': 18, 'Address' : 'Bharatpur'},
                    {'Name': 'Sunil', 'Age': 23, 'Address' : 'Kathmandu'},
                    {'Name': 'Bhawana', 'Age': 22, 'Address' : 'Ramechap'}
                   ])

In [15]:
df2

      Name  Age    Address
0  Prabhat   24   Manigram
1     Hari   34    Dhanewa
2    Shyam   50  Bardaghat
3     Sita   32  Manglapur
4   Mahima   18  Bharatpur
5    Sunil   23  Kathmandu
6  Bhawana   22   Ramechap

### 3. From a list of tuples

In [16]:
df3 = pd.DataFrame([('Prabhat', 24, 'Manigram'),
                    ('Hari', 34, 'Dhanewa'),
                    ('Shyam',50, 'Bardaghat'),
                    ('Sita', 32, 'Manglapur'),
                    ('Mahima', 18, 'Bharatpur'),
                    ('Sunil', 23, 'Kathmandu'),
                    ('Bhawana', 22, 'Ramechap')
                   ], columns = ['Name', 'Age', 'Address'])

In [17]:
df3

      Name  Age    Address
0  Prabhat   24   Manigram
1     Hari   34    Dhanewa
2    Shyam   50  Bardaghat
3     Sita   32  Manglapur
4   Mahima   18  Bharatpur
5    Sunil   23  Kathmandu
6  Bhawana   22   Ramechap

### 4. From list of lists

In [18]:
df4 = pd.DataFrame([['Prabhat', 24, 'Manigram'],
                    ['Hari', 34, 'Dhanewa'],
                    ['Shyam',50, 'Bardaghat'],
                    ['Sita', 32, 'Manglapur'],
                    ['Mahima', 18, 'Bharatpur'],
                    ['Sunil', 23, 'Kathmandu'],
                    ['Bhawana', 22, 'Ramechap']
                   ], columns = ['Name', 'Age', 'Address'])

In [19]:
df4

      Name  Age    Address
0  Prabhat   24   Manigram
1     Hari   34    Dhanewa
2    Shyam   50  Bardaghat
3     Sita   32  Manglapur
4   Mahima   18  Bharatpur
5    Sunil   23  Kathmandu
6  Bhawana   22   Ramechap

#### Question:
<li>Read 'weather_data.csv' file using csv reader.</li>
<li>Store the data inside the csv file into a list of lists.</li>
<li>Then create a pandas dataframe using list of list.</li>

In [33]:
from csv import reader

file = open('data/weather_data.csv')
file_reader = reader(file)
data = list(file_reader)
print(data)

[['kfjkdfjskd'], ['dfuhsdjufio'], ['day', 'temperature', 'windspeed', 'event'], ['1/1/2017', '32', '6', 'Rain'], ['1/4/2017', 'not available', '9', 'Sunny'], ['1/5/2017', '-1', 'not measured', 'Snow'], ['1/6/2017', 'not available', '7', 'no event'], ['1/7/2017', '32', 'not measured', 'Rain'], ['1/8/2017', 'not available', 'not measured', 'Sunny'], ['1/9/2017', 'not available', 'not measured', 'no event'], ['1/10/2017', '34', '8', 'Cloudy'], ['1/11/2017', '-4', '-1', 'Snow'], ['1/12/2017', '26', '12', 'Sunny'], ['1/13/2017', '12', '12', 'Rainy'], ['1/11/2017', '-1', '12', 'Snow'], ['1/14/2017', '40', '-1', 'Sunny']]

In [ ]:
weather_df = pd.DataFrame(data[1:], columns = data[0])
weather_df

#### Question
<li>1. Read 'imports-85.data' file using file reader.</li>
<li>2. Store the data present inside the file into a list of list.</li>
<li>3. Create a pandas dataframe using list of lists.</li>
<li>4. For column name, we can use the columns variable given below.</li>

In [ ]:
# total_data = []
# file = open('imports-85.data', 'r')
# data_read = file.readlines()
# for item in data_read:
#     item_list = item.split('\n')[:-1]
#     new_item_list = item[0].split(',')
#     total_data.append(new_item_list)

In [ ]:
# print(total_data)

In [ ]:
columns = ['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration', 'num_of_doors',
          'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length', 'width', 
           'height', 'curb_weight', 'engine_type', 'num_of_cylinders', 'engine_size', 'fuel_system',
          'bore', 'stroke', 'compression', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 
           'price']

### 5. Pandas Dataframe From Csv files

<li>We can load a csv file and create a dataframe out of the data present inside a csv file using pandas.</li>
<li>We have <b>.read_csv()</b> method to read a csv file and create a pandas dataframe from the dataset.</li>

In [ ]:
weather_df = pd.read_csv('weather_data.csv')

In [ ]:
weather_df

### Reading a csv file using skiprows and header parameters

In [ ]:
weather_df = pd.read_csv('weather_data.csv',skiprows = 1)

In [ ]:
weather_df

In [ ]:
weather_df = pd.read_csv('weather_data.csv', header = 2)
weather_df

#### Reading a csv file without header and giving names to the columns

In [ ]:
weather_df = pd.read_csv('weather_data.csv',skiprows = 3, header = None,
                        names = ['dates', 'temp', 'ws', 'forecast'])
weather_df

#### Read limited data from a csv file using nrows parameters

In [ ]:
weather_df = pd.read_csv('weather_data.csv',skiprows = 3,nrows = 5, header = None,
                        names = ['dates', 'temp', 'ws', 'forecast'])
weather_df

#### Reading csv files with na_values parameters ('weather_data.csv' file)

In [ ]:
weather_df = pd.read_csv('weather_data.csv',skiprows = 2,
#                         na_values = ['not available', 'not measured', 
#                                     'no event']
                        )
weather_df

In [ ]:
weather_df = pd.read_csv('weather_data.csv',skiprows = 2,
                        na_values = {'temperature': 'not available',
                                     'windspeed': ['not measured', -1],
                                    'event': 'no event'})
weather_df

#### Write a pandas dataframe to a csv file
<li>We can write a pandas dataframe to a csv file using .to_csv() method.</li>
<li>You can specify any name to the csv file while writing a pandas dataframe into a csv file.</li>

In [ ]:
weather_df.to_csv('weather_data_nan.csv', index = False)

### 6. Pandas Dataframe From Xcel files

<li>We can load an excel file with <b>.xlsx</b> extension and create a dataframe out of the data present inside an excel file using pandas.</li>
<li>We have <b>.read_excel()</b> method to read a csv file and create a pandas dataframe from the dataset.</li>
<li>We also need to install <b>openpyxl</b> for working with excel files.</li>

In [ ]:
weather_df = pd.read_excel('weather_data.xlsx',
                           na_values = {'temperature': 'not available',
                                     'windspeed': ['not measured', -1],
                                    'event': 'no event'})
weather_df

#### Writing to an excel file
<li>We can write a pandas dataframe into a excel file using .to_excel() method.</li>

In [ ]:
weather_df.to_excel('weather_data.xlsx', 'nans')

#### Using head() and tail() method to see top 5 and last 5 rows
<li>To view the first few rows of our dataframe, we can use the DataFrame.head() method.</li>
<li>By default, it returns the first five rows of our dataframe.</li>
<li>However, it also accepts an optional integer parameter, which specifies the number of rows.</li>

<li>Similarly, to view the last few rows of our dataframe, we can use the DataFrame.tail() method.</li>
<li>By default, it returns the last five rows of our dataframe.</li>
<li>However, it also accepts an optional integer parameter, which specifies the number of rows.</li>

In [ ]:
weather_df = pd.read_csv('weather_data.csv', skiprows = 2)
weather_df.head(3)

In [ ]:
weather_df.tail(3)

#### Question:

<li>Use the head() method to select the first 6 rows.</li>
<li>Use the tail() method to select the last 8 rows.</li>

In [ ]:
weather_df.head(6)

In [ ]:
weather_df.tail(8)

#### Finding the column names from the dataframe
<li>We have df.columns attributes to check the name of columns in the pandas dataframe.</li>
<li>Similarly, we have df.values attributes to check the data present in the pandas dataframe.</li>

In [ ]:
weather_df.columns

In [21]:
print(type(weather_df.columns))

NameError: name 'weather_df' is not defined

In [ ]:
weather_df.columns[-2:]

In [ ]:
list(weather_df.columns)[:2]

In [ ]:
weather_df.values

In [ ]:
type(weather_df.values)

In [ ]:
weather_df.values.shape

In [ ]:
weather_df.values.ndim

In [ ]:
weather_df.size

In [ ]:
weather_df.values[-5:]

In [ ]:
weather_df.values[weather_df.values[:,-1] == 'Sunny']

In [ ]:
weather_df.values[weather_df.values[:,1] == 'not available']

In [ ]:
weather_df.values[weather_df.values[:,2] == 'not measured']

In [ ]:
weather_df.values[weather_df.values[:,-1] == 'no event']

#### Checking the type of your dataframe 
<li>Another feature that makes pandas better for working with data is that dataframes can contain more than one data type.</li>
<li>Axis values can have string labels, not just numeric ones.</li>
<li>Dataframes can contain columns with multiple data types: including integer, float, and string.</li>
<li>We can use the DataFrame.dtypes attribute (similar to NumPy) to return information about the types of each column.</li>
<li>When we import data, pandas attempts to guess the correct dtype for each column.</li>
<li>Generally, pandas does well with this, which means we don't need to worry about specifying dtypes every time we start to work with data.</li>

In [ ]:
weather_df.dtypes

In [ ]:
weather_df_nan = pd.read_csv('weather_data_nan.csv')
weather_df_nan.head()

In [ ]:
weather_df_nan.dtypes

#### Datatypes Information
<li>We can get the shape of the dataset using <b>.shape()</b> method.</li>
<li><b>.shape()</b> method returns the tuple datatype containing the number of rows and number of columns in the dataset.</li>
<li>If we wanted an overview of all the dtypes used in our dataframe, we can use <b>.info()</b> method.</li>
<li>Note that <b>DataFrame.info()</b> prints the information, rather than returning it, so we can't assign it to a variable.</li>

In [ ]:
weather_df_nan.shape

In [ ]:
weather_df_nan.info()

#### Checking the null values in the pandas dataframe

In [ ]:
weather_df_nan.isnull().sum()

#### set_index() and reset_index() method

In [ ]:
weather_df_nan = pd.read_csv('weather_data_nan.csv',
                             parse_dates = ['day'])
weather_df_nan.head()

In [ ]:
weather_df_nan.set_index('day', inplace = True)
weather_df_nan

In [ ]:
weather_df_nan.reset_index(inplace = True)
weather_df_nan

In [ ]:
temperature_index_df = weather_df_nan.set_index('temperature')
temperature_index_df.head()

In [ ]:
temperature_reset_index_df = temperature_index_df.reset_index(drop = True)

In [ ]:
temperature_reset_index_df.reset_index(inplace = True)
temperature_reset_index_df

In [22]:
temperature_reset_index_df.reset_index(inplace = True, drop = True)
temperature_reset_index_df

NameError: name 'temperature_reset_index_df' is not defined

#### Selecting a column from a pandas DataFrame

<li>Since our axis in pandas have labels, we can select data using those labels.</li> 
<li>Unlike in NumPy, we donot need to know the exact index location of a pandas dataframe.</li>
<li>To do this, we can use the DataFrame.loc[] attribute. The syntax for DataFrame.loc[] is:</li>
<code>
df.loc[row_label, column_label]
</code>

<li>We can use the following shortcut to select a single column:</li>
<code>
df["column_name"]
</code>

<li>This style of selecting columns is very common.</li>

In [ ]:
import pandas as pd
weather_df = pd.read_csv('weather_data_nan.csv')
weather_df.head()

In [ ]:
weather_df.loc[:, 'event']

In [ ]:
weather_df['temperature']

#### Questions

<li>Read <b>'appointment_schedule.csv'</b> file using pandas.</li>
<li>Select the <b>'name'</b> column from the given dataset and store to <b>'appointment_names'</b> variable.</li>
<li>Use Python's <b>type()</b> function to assign the type of name column to <b>name_type</b>.</li>

In [ ]:
appointment_df = pd.read_csv('appointment_schedule.csv')
appointment_df.tail()

In [ ]:
appointment_df.columns

In [ ]:
appointment_names = appointment_df.loc[:,'name']
print(appointment_names)

In [ ]:
appointment_names = appointment_df['name']
print(appointment_names)

In [ ]:
print(type(appointment_names))

In [ ]:
appointment_names.shape

#### Pandas Series
<li>Series is the pandas type for one-dimensional objects.</li>
<li>Anytime you see a 1D pandas object, it will be a series. Anytime you see a 2D pandas object, it will be a dataframe.</li>
<li>A dataframe is a collection of series objects, which is similar to how pandas stores the data behind the scenes.</li>

#### Adding a column in a pandas dataframe

In [ ]:
import numpy as np
weather_df['is_play'] = np.nan
print(weather_df.shape)
weather_df.head()

In [ ]:
is_play = weather_df['is_play']
print(type(is_play))

In [ ]:
weather_df.info()

### Selecting Multiple Columns From the DataFrame

![](images/selecting_columns.png)

<li>We can select multiple columns from the dataframe by using the following codes:</li>
<code>
    df.loc[:, ["col1", "col2"]]
</code>

<li>We can use syntax shortcuts for selecting multiple columns by using the following syntax:</li>
<code>
    df[["col1", "col2"]]
</code>

In [ ]:
weather_df = pd.read_csv('weather_data_nan.csv', parse_dates = ['day'])
weather_df.head()

In [ ]:
weather_df.set_index('day', inplace = True)

In [ ]:
weather_df

In [ ]:
weather_df.loc[:, ["temperature", "event"]].head()

In [ ]:
weather_df[['temperature', 'event']].head()

In [ ]:
weather_df_no_windspeed = weather_df.drop('windspeed', axis = 1)
weather_df_no_windspeed.head()

#### Question:
<li>Read 'car_details.csv' file and create a pandas dataframe from it.</li>
<li>Then only select <b>'name'</b>, <b>'selling price'</b> and <b>'km_driven'</b> columns from the dataframe.</li>

![](images/selecting_3_cols.png)

In [ ]:
car_details_df = pd.read_csv('car_details.csv')
car_details_df.head()

In [ ]:
car_details_df.loc[:, ['name', 'selling_price', 'km_driven']].head()

In [ ]:
car_details_df[['name', 'selling_price', 'km_driven']].head()

In [ ]:
car_details_limited = car_details_df.drop(['year', 'fuel', 'seller_type',
                                          'transmission', 'owner'],
                                          axis = 1)
car_details_limited.head()

#### Selecting Rows From A Pandas DataFrame

<li>Now that we've learned how to select columns by label, let's learn how to select rows using the labels of the index axis.</li>
<li>We can use the same syntax to select rows from a dataframe as we do for columns:</li>
<code>
    df.loc[row_label, column_label]
</code>

![](images/selecting_one_row.png)

In [ ]:
weather_df.loc['2017-01-01']

In [ ]:
weather_df.reset_index(inplace = True)
weather_df.head()

In [23]:
weather_df.set_index('temperature', inplace = True)
weather_df.head()

NameError: name 'weather_df' is not defined

In [ ]:
weather_df.loc[-1]

In [ ]:
weather_df.reset_index(inplace = True)
weather_df.head()

In [ ]:
weather_df.set_index('event', inplace = True)
weather_df.head()

In [ ]:
weather_df.loc["Sunny"]

### Selecting Multiple Rows From the DataFrame

![](images/selecting_multiple_rows.png)

In [ ]:
weather_df = weather_df.reset_index().set_index('day')
weather_df.head()

In [ ]:
weather_df.loc[['2017-01-01', '2017-01-04']]

#### Indexing & Slicing In Pandas DataFrame

<li>We can slice a dataset from their rows as well as columns.</li>
<li>If we have (5,5) shape data and we want first three rows and first three columns then we need to slice both rows and columns to get a desired shape.</li>
<li>We have df.iloc() method which we can use to do indexing as well as slicing in a dataframe.</li>
<li>Let's practice .iloc() method.</li>

In [ ]:
weather_df.reset_index(inplace = True)

In [ ]:
weather_df[3:6]

In [ ]:
weather_df.iloc[2:5, :2]

In [ ]:
weather_df.iloc[:,:3]

In [ ]:
weather_df.iloc[11,1]

#### Datatype Conversion In Pandas

<li>Pandas astype() is the one of the most important methods. It is used to change data type of a series.</li>
<li>When a pandas dataframe is created from a csv file,the data type is set automatically.</li>
<li>The datatype will not be what it actually should be at times and this is where we can use astype()  to get desired datatype.</li>
<li>For example, a salary column could be imported as string but to do operations we have to convert it into float.</li>
<li>astype() is used to do such data type conversions.</li>

In [ ]:
weather_df.dtypes

In [ ]:
weather_df['day'] = weather_df['day'].astype('str')

In [ ]:
weather_df.dtypes

In [ ]:
car_details_df.head()

In [ ]:
car_details_df.info()

In [ ]:
import pandas as pd
car_df = pd.read_csv('car_details.csv')
car_df.head()

In [ ]:
car_df.info()

In [ ]:
car_df[['selling_price', 'km_driven']] = car_df[['selling_price', 'km_driven']].astype('float64')

In [ ]:
car_df.info()

In [ ]:
car_df.head()

#### Value Counts Method

<li>Since series and dataframes are two distinct objects, they have their own unique methods.</li>

<li>Let's look at an example of a series method - the Series.value_counts() method.</li>

<li>This method displays each unique non-null value in a column and their counts in order.</li>

<li>value_counts() is a series only method, we get the following error if we try to use it for dataframes:</li>

<code>
    AttributeError: 'DataFrame' object has no attribute 'value_counts'
</code>

In [ ]:
weather_df = pd.read_csv('weather_data_nan.csv')
weather_df.head()

In [ ]:
weather_df['event'].value_counts()

In [ ]:
weather_df['windspeed'].value_counts()

In [ ]:
car_df = pd.read_csv('car_details.csv')
car_df.head()

In [24]:
car_df['name'].value_counts()

NameError: name 'car_df' is not defined

In [ ]:
car_df['fuel'].value_counts()

#### Creating a frequency table from value_counts

In [ ]:
fuel_count_df = car_df['fuel'].value_counts().to_frame()
fuel_count_df.head()

In [ ]:
fuel_count_df.loc['Diesel']

In [ ]:
fuel_count_df.reset_index(inplace = True)
fuel_count_df.head()

#### Renaming the column names in a pandas dataframe

In [ ]:
fuel_count_df.columns = ['fuel', 'frequency']
fuel_count_df.head()

In [ ]:
fuel_count_df.rename({'fuel': 'fuel_type', 'frequency': 'freq'}, 
                     inplace = True, axis = 1)
fuel_count_df.head()

In [ ]:
def freq_count_df(df, exist_col, renamed_cols):
    """
    df -> dataframe (dataframe object),
    exist_col -> any feature from the dataframe (string)
    renamed_cols -> name of columns you want to rename with (list)
    """
    
    freq_count_df = df[exist_col].value_counts().to_frame().reset_index()
    freq_count_df.columns = renamed_cols
    return freq_count_df

In [ ]:
seller_type, transmission, owner

In [ ]:
seller_type_count_df = freq_count_df(df = car_df,
                                     exist_col = 'seller_type',
                                     renamed_cols = ['seller_type', 'freq']
                                    )
seller_type_count_df.head()

In [ ]:
transmission_count_df = freq_count_df(df = car_df,
                                     exist_col = 'transmission',
                                     renamed_cols = ['transmission', 'freq']
                                    )
transmission_count_df.head()

In [ ]:
owner_count_df = freq_count_df(df = car_df,
                                     exist_col = 'owner',
                                     renamed_cols = ['owner', 'freq']
                                    )
owner_count_df.head()

#### Selecting Items From A Series Method

<li>As with dataframes, we can use Series.loc[] to select items from a series using single labels, a list, or a slice object.</li>
<li>We can also omit loc[] and use bracket shortcuts for all three:</li>

![](images/selecting_series.png)

In [ ]:
fuel_count_series = car_df['fuel'].value_counts()
fuel_count_series.head()

In [ ]:
fuel_count_series.loc['Diesel']

In [ ]:
fuel_count_series.loc[['Diesel', 'Petrol']]

In [ ]:
fuel_count_series.loc["Diesel": "CNG"]

#### Question

<li>Use the value counts method to check the frequency count of different names from 'appointment_schedule.csv' file.</li>
<li>Select only first row from the series.</li>
<li>Select the first row and the last row from the series.</li>
<li>Select the first five rows and the last five rows from the series.</li>

In [ ]:
appointment_df = pd.read_csv('appointment_schedule.csv')
appointment_df.tail()

In [ ]:
name_count_series = appointment_df['name'].value_counts()

In [ ]:
name_count_series.loc["Joshua T. Blanton"]

In [ ]:
name_count_series.loc[["Joshua T. Blanton", "Martin O. Reina"]]

#### DataFrame Vs DataSeries

![](images/dataframe_vs_series.png)

#### Summary

![](images/pandas_selection_summary.png)

#### Vecotrized Operations In Pandas

<li>We'll explore how pandas uses many of the concepts we learned in the NumPy.</li>
<li>Because pandas is designed to operate like NumPy, a lot of concepts and methods from Numpy are supported.</li>
<li>Recall that one of the ways NumPy makes working with data easier is with vectorized operations.</li>
<li>Just like with NumPy, we can use any of the standard Python numeric operators with series, including:</li>
<code>
    series_a + series_b - Addition
    series_a - series_b - Subtraction
    series_a * series_b - Multiplication
    series_a / series_b - Division
</code>

In [ ]:
car_df['sp_per_kmdriven'] = car_df['selling_price'] / car_df['km_driven']

In [ ]:
car_df['metres_driven'] = car_df['km_driven'] * 1000

In [ ]:
car_df['age_in_years'] = 2023 - car_df['year']

In [ ]:
car_df.head()

In [ ]:
weather_df.head()

In [25]:
weather_df['temp_in_kelvin'] = 273 + weather_df['temperature']
weather_df.head()

NameError: name 'weather_df' is not defined

#### Some Statistical Functions In Pandas

<li>Like NumPy, Pandas supports many descriptive stats methods such as mean, median, mode, min, max and so on.</li>
<li>Here are a few of the most useful ones.</li>
<code>
Series.max()
Series.min()
Series.mean()
Series.median()
Series.mode()
Series.sum()
</code>
<li>We can calculate the average value of a particular column(series) using df.column_name.mean().</li>
<li>For calculating the minimum value in a particular column(series), we can use df.column_name.min().</li>
<li>Similarly, for calculating the maximum value in a particular column(series), we can use df.column_name.max().</li>

In [ ]:
car_df['selling_price'].min()

In [ ]:
car_df['selling_price'].max()

In [ ]:
car_df['selling_price'].mean()

In [ ]:
car_df['selling_price'].median()

In [ ]:
car_df['selling_price'].sum()

In [ ]:
car_df['selling_price'].std()

In [ ]:
car_df['owner'].mode()

In [ ]:
car_df['owner'].value_counts()

#### Finding the descriptive statistics of the dataframe using .describe() method

<li>Descriptive statistics include those that summarize the central tendency, dispersion and shape of a dataset's distribution, excluding NaN values.</li>
<li>describe() method in Pandas is used to compute descriptive statistics for all of your numeric columns.</li>
<li>Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types.</li>
<li>The output will vary depending on what is provided.</li>
<li>If we want to see the descriptive statistics of an object datatype then we have to specify <b>df.describe(include = "O")</b></li>

In [ ]:
car_df.describe()

In [ ]:
car_df.describe(include = "O")

#### Assigning Values With Pandas

<li>Just like in NumPy, the same techniques that we use to select data could be used for assignment.</li>

<li>When we selected a whole column by label and used assignment, we assigned the value to every item in that column.</li>

<li>By providing labels for both axes, we can assign them to a single value within our dataframe.</li>

<code>
    df.loc[row_label, col_label] = assignment_value
</code>

In [ ]:
import pandas as pd

In [ ]:
weather_df = pd.read_csv('weather_data_nan.csv')
weather_df.head()

In [ ]:
weather_df.loc[1,'temperature'] = 31

In [ ]:
weather_df.head()

In [ ]:
weather_df.loc[3,["temperature", "event"]] = [30, "Sunny"]

In [ ]:
weather_df.head()

In [ ]:
weather_df = weather_df.set_index('day')
weather_df.head()

In [ ]:
weather_df.loc['1/5/2017', 'windspeed'] = 8

In [ ]:
weather_df.head()

#### Using Boolean Indexing With Pandas Objects (Selection With Condition In Pandas)
<li>We can assign a value by using row label and column label in pandas.</li>
<li>But what if we need to assign a same value to a group of similar rows with the same criteria.</li>
<li> Instead, we can use boolean indexing to change all rows that meet the same criteria, just like we did with NumPy.</li>


<ol>
    <li>Equals: df['series'] == value</li>
    <li>Not Equals: df['series'] != value</li>
    <li>Less than: df['series'] < value</li>
    <li>Less than or equal to: df['series'] <= value</li>
    <li>Greater than: df['series'] > value</li>
    <li>Greater than or equal to: df['series'] >= value</li>
</ol>
<li>These conditions can be used in several ways, most commonly inside .loc to select values with conditions.</li>

In [ ]:
weather_df

In [ ]:
weather_df[weather_df['temperature'] > 30]

In [ ]:
weather_df[weather_df['event'] == "Rain"]

In [ ]:
weather_df[weather_df['windspeed'] < 10]

In [ ]:
car_details_df = pd.read_csv('car_details.csv')
car_details_df.head()

In [ ]:
maruti_800_ac_df = car_details_df[car_details_df['name'] == "Maruti 800 AC"]
maruti_800_ac_df.head()

In [ ]:
maruti_800_ac_df['selling_price'].min()

In [ ]:
maruti_800_ac_df['selling_price'].max()

In [26]:
maruti_800_ac_df['selling_price'].mean()

NameError: name 'maruti_800_ac_df' is not defined

In [ ]:
car_details_df[car_details_df['name'] == "Maruti 800 AC"]['selling_price'].mean()

In [ ]:
car_details_df.loc[car_details_df['name'] == "Maruti 800 AC", "selling_price"].mean()

In [ ]:
car_details_df.loc[car_details_df['year'] == 2012, 'selling_price'].min()

In [ ]:
car_details_df.loc[car_details_df['year'] == 2012, 'selling_price'].max()

In [ ]:
car_details_df.loc[car_details_df['year'] == 2012, 'selling_price'].mean()

In [ ]:
car_details_df.loc[car_details_df['selling_price'] > 100000, "name"].value_counts().head()

In [ ]:
car_details_df.loc[car_details_df['selling_price'] < 100000, "name"].value_counts().head()

In [ ]:
car_details_df.loc[((car_details_df['selling_price'] < 80000) &
                   (car_details_df['owner'] == "Second Owner")),
                    "name"].value_counts().head()

In [ ]:
car_details_df.loc[((car_details_df['name'] == "Maruti Swift Dzire VDI") |
                   (car_details_df['name'] == "Maruti Alto 800 LXI"))].shape

In [ ]:
isinNamelist = ["Maruti Swift Dzire VDI", "Maruti Alto 800 LXI", "Maruti Alto LXi",            
"Maruti Alto LX", "Hyundai EON Era Plus", "Maruti Swift VDI BSIV",
 "Maruti Wagon R VXI BS IV", "Maruti Swift VDI", "Hyundai EON Magna Plus",
 "Maruti Wagon R LXI Minor"]

In [ ]:
car_details_df['top10counts'] =0

In [ ]:
car_details_df.loc[car_details_df['name'].isin(isinNamelist),
               "top10counts"] = 1

In [ ]:
car_details_df['top10counts'].value_counts()

### Using Pandas Method To Create a Boolean Mask

<li>In the last couple lessons, we used Python boolean operators to create boolean masks to select subsets of data.</li>
    
<li>There are also a number of pandas methods that return boolean masks useful for exploring data.</li>

<li>Two examples are the Series.isnull() method and Series.notnull() method.</li>
<li>Series.isnull() method can be used to select either rows that contain null (or NaN) values for a certain column.</li>
<li>Similarly, Series.notnull() method is used to select rows that do not contain null values for a certain column.</li>

In [ ]:
weather_df = pd.read_csv('weather_data_nan.csv')
weather_df.head()

In [ ]:
weather_df[weather_df['temperature'].isnull()]

In [ ]:
weather_df[weather_df['temperature'].notnull()]

In [ ]:
weather_df[(weather_df['temperature'].notnull()) &
(weather_df['windspeed'].notnull()) &
(weather_df['event'].notnull())]

#### Question 1

<li>Read 'Fortune_1000.csv' file using pandas read_csv() method and store it in a variable named f1000.</li>
<li>Select the rank, revenues, and rank_change columns in f1000. Then, use the df.head() method to select first five rows.</li>
<li>Select just the fifth row of the f1000 dataframe. Assign the result to fifth_row using iloc.</li>
<li>Select the value in first row of the company column. Assign the result to company_value.</li>
<li>Select the last three rows of the f1000 dataframe. Assign the result to last_three_rows.</li>
<li>Select the first to seventh rows and the first five columns of the f1000 dataframe.</li>

In [ ]:
import pandas as pd
f1000 = pd.read_csv('Fortune_1000.csv', na_values = " ")
f1000.head()

In [ ]:
f1000.columns

In [ ]:
f1000.shape

In [ ]:
f1000_selection = f1000[['rank', 'rank_change', 'revenue']]
print(f1000_selection.shape)
f1000_selection.head()

In [ ]:
fifth_row = f1000.iloc[4,:]
print(fifth_row)

In [ ]:
company_value = f1000.loc[0, 'company']
print(company_value)

In [ ]:
last_three_rows = f1000[-3:]
last_three_rows.head()

In [ ]:
first_to_seven_rows = f1000.iloc[:7, :5]
first_to_seven_rows.head()

#### Question 2
<li>Use the Series.isnull() method to select all rows from f1000 that have a null value for the prev_rank column.</li>
<li>Select only the company, rank, and previous_rank columns where previous_rank column is null.</li>
<li>Use the Series.notnull() method to select all rows from f1000 that have a non-null value for the previous_rank column.</li></b>
<li>From the previously_ranked dataframe, subtract the rank column from the previous_rank column.</li>
<li>Assign the values in the rank_change to a new column in the f1000 dataframe, "rank_change".</li>

In [ ]:
null_prev_rank = f1000[f1000['prev_rank'].isnull()]
null_prev_rank.head()

In [ ]:
null_previous_rank = f1000.loc[f1000['prev_rank'].isnull(),['company', 'rank', 'prev_rank']]
null_previous_rank.head()

In [ ]:
not_null_prev_rank = f1000[f1000['prev_rank'].notnull()]
not_null_prev_rank.shape

In [ ]:
f1000['rank_change'] = f1000['prev_rank'] - f1000['rank']

In [ ]:
f1000.head()

In [ ]:
df.info()

#### Question 3
<li>Select all companies with revenues over 100 thousands and negative profits from the f1000 dataframe.</li>

##### Instructions

<li>Create a boolean array that selects the companies with revenues greater than 100 thousands.</li>
<li>Create a boolean array that selects the companies with profits less than 0.</li>

In [27]:
f1000[(f1000['revenue'] > 100000) &
     (f1000['profit'] < 0)]

NameError: name 'f1000' is not defined

#### Question 4
<li>Select all rows for companies whose city value is either Brazil or Venezuela.</li>
<li>Select the first five companies in the Technology sector for which the city is not the "Boston" from the f1000 dataframe.</li>

In [ ]:
f1000.loc[(f1000['city'] == "New York") |
         (f1000['city']=="San Fransciso")]

In [ ]:
f1000.loc[(f1000['city'] != "Boston")].head()

#### Sorting Values
<li>We can use the DataFrame.sort_values() method to sort the rows on a particular column.</li>
<li>To do so, we pass the column name to the method:</li>
<code>
sorted_rows = df.sort_values("column_name")
</code>
<li>By default, the sort_values() method will sort the rows in ascending order — from smallest to largest.</li>
<li>To sort the rows in descending order instead, we can set the ascending parameter to False:</li>
<code>
    sorted_rows = df.sort_values("column_name", ascending=False)
</code>

In [ ]:
weather_df = pd.read_csv('weather_data_nan.csv')
weather_df.head()

In [ ]:
weather_df.sort_values('temperature', ascending = True, inplace = True)
weather_df.head()

In [ ]:
weather_df.sort_values('windspeed', ascending = False, inplace = True)
weather_df.head()

In [ ]:
weather_df.sort_values('event', ascending = True, inplace = True)
weather_df.head()

In [ ]:
f1000.sort_values(['rank_change', 'revenue', 'profit'], 
                 ascending = [True, False, False], inplace = True)
f1000.head()

In [ ]:
f1000.describe()

#### Question
<li>Read 'Fortune_1000.csv' using pandas read_csv() method.</li>
<li>Find the company headquartered in Los Angeles with the largest number of employees.</li>
<li>Select only the rows that have a city name equal to Los Angeles.</li>
<li>Use DataFrame.sort_values() to sort those rows by the employees column in descending order.</li>
<li>Use DataFrame.iloc[] to select the first row from the sorted dataframe.</li>

In [ ]:
f1000 = pd.read_csv('Fortune_1000.csv', na_values = " ")
f1000.head()

In [ ]:
los_angeles_df = f1000[f1000['city'] == "Los Angeles"].sort_values('num. of employees',
                                                 ascending = False)
los_angeles_df.iloc[:1]

### String Manipulation In Pandas DataFrame

<li>String manipulation is the process of changing, parsing, splitting, 'cleaning' or analyzing strings.</li>
<li>As we know that sometimes, data in the string is not suitable for manipulating the analysis or get a description of the data.</li>
<li>But Python is known for its ability to manipulate strings.</li>
<li>Pandas provides us the ways to manipulate to modify and process string data-frame using some builtin functions.</li>
<li>Some of the most useful pandas string processing functions are as follows:</li>
<ol>
    <li><b>lower()</b></li>
    <li><b>upper()</b></li>
    <li><b>islower()</b></li>
    <li><b>isupper()</b></li>
    <li><b>isnumeric()</b></li>
    <li><b>strip()</b></li>
    <li><b>split()</b></li>
    <li><b>len()</b></li>
    <li><b>get_dummies()</b></li>
    <li><b>startswith()</b></li>
    <li><b>endswith()</b></li>
    <li><b>replace()</b></li>
    <li><b>contains()</b></li>
</ol>

#### 1. lower(): 
<li>It converts all uppercase characters in strings in the dataframe to lower case and returns the lowercase strings in the result.</li>

In [ ]:
weather_df.head()

In [ ]:
weather_df['event'] = weather_df['event'].str.lower()

In [ ]:
weather_df.head()

#### 2. upper():
<li>It converts all lowercase characters in strings in the dataframe to upper case and returns the uppercase strings in result.</li>

In [ ]:
weather_df['event'] = weather_df['event'].str.upper()
weather_df.head()

#### 3. islower(): 
<li>It checks whether all characters in each string in the Data-Frame is in lower case or not, and returns a Boolean value.</li>

In [ ]:
weather_df['event'].str.islower()

In [ ]:
weather_df['event'] = weather_df['event'].str.lower()

In [ ]:
weather_df['event'].str.islower()

#### 4. isupper(): 
<li>It checks whether all characters in each string in the Data-Frame is in upper case or not, and returns a Boolean value.</li>

In [ ]:
weather_df['event'].str.isupper()

In [ ]:
import warnings
warnings.filterwarnings('ignore')
weather_df['event'][:5] = weather_df['event'][:5].str.upper()

In [ ]:
weather_df['event'].str.isupper()

#### 5. isnumeric():
<li>It checks whether all characters in each string in the Data-Frame are numeric or not, and returns a Boolean value.</li>

In [ ]:
import pandas as pd

series = pd.Series(['one', '1', 'two', '2'])
series

In [ ]:
series.str.isnumeric()

#### 6. strip():
<li>If there are spaces at the beginning or end of a string, we should trim the strings to eliminate spaces using strip() method.</li>
<li>It remove the extra spaces contained by a string in a DataFrame.</li>

In [ ]:
example_string = " Butwal "
print(example_string)
print(len(example_string))

In [ ]:
strip_example_string = example_string.strip()
print(strip_example_string)
print(len(strip_example_string))

In [ ]:
weather_df = pd.read_csv('weather_data_nan.csv')
weather_df.head()

In [28]:
weather_df['strip_event'] = weather_df['event'].str.strip()

NameError: name 'weather_df' is not defined

In [ ]:
weather_df['event_lenght'] = weather_df['event'].str.len()
weather_df['strip_event_length'] = weather_df['strip_event'].str.len()

In [ ]:
weather_df[['event', 'strip_event', 'event_lenght', 'strip_event_length']]

#### 7. split(‘ ‘):
<li>It splits each string with the given pattern.</li>
<li>Strings are split and the new elements after the performed split operation, are stored in a list.</li>

In [ ]:
df = pd.read_csv('Fortune_1000.csv', na_values = " ")
df.head()

In [ ]:
df['top_level_domain'] = df['Website'].str.split('.').str[-1]

In [ ]:
df[['Website', 'top_level_domain']]

In [ ]:
df['top_level_domain'].value_counts()

#### 8. len():
<li>With the help of len() we can compute the length of each string in DataFrame.</li>
<li>If there is empty data in a DataFrame, it returns NaN.</li>

In [ ]:
df['companyname_length'] = df['company'].str.len()

In [ ]:
df[['company', 'companyname_length']]

#### 9. get_dummies(): 
<li>It returns the DataFrame with One-Hot Encoded values like we can see that it returns boolean value 1 if it exists in relative index or 0 if not exists.</li>

In [ ]:
weather_df['strip_event'].str.get_dummies()

In [ ]:
car_details_df['fuel'].str.get_dummies()

#### 10. startswith(pattern):
<li>It returns true if the element or string in the DataFrame Index starts with the pattern.</li>
<li>If you wanted to filter out rows that startswith 'ind' then you can specify df[df[col].str.startswith('ind')</li>

In [ ]:
car_details_df[car_details_df['name'].str.startswith('Maruti')]

In [ ]:
df[df['Website'].str.startswith('https')]

#### 11. endswith(pattern):
<li>It returns true if the element or string in the DataFrame Index ends with the pattern.</li>
<li>If you wanted to filter out rows that ends with 'es' then you can specify df[df[col].str.endswith('es')</li>

In [ ]:
print(car_details_df[car_details_df['name'].str.endswith('AC')].shape)
car_details_df[car_details_df['name'].str.endswith('AC')]

#### 12. replace(a,b):
<li>It replaces the value a with the value b.</li>
<li>If you wanted to remove white space characters then you can use replace() method as:</li>
<code>
df[col_name].str.replace(" ", "")
</code>

In [ ]:
weather_df = pd.read_csv('weather_data_nan.csv')
weather_df.head()

In [ ]:
weather_df['event'] = weather_df['event'].str.replace(' ', '')

In [ ]:
weather_df.head(20)

In [ ]:
weather_df['event'] = weather_df['event'].str.replace('Rainy', 'Rain')

In [ ]:
weather_df.tail()

In [ ]:
appointment_df['app_start_date'] = appointment_df['app_start_date'].str.replace('/', '-')
appointment_df['app_end_date'] = appointment_df['app_end_date'].str.replace('/', '-')

In [ ]:
appointment_df.head()

#### 13. contains():
<li>contains() method checks whether the string contains a particular substring or not.</li>
<li>The function is quite similar to replace() but instead of replacing the string itself it just returns the boolean value True or False.</li>
<li>If a substring is present in a string, then it returns boolean value True else False.</li>

In [ ]:
appointment_df = pd.read_csv('appointment_schedule.csv')
appointment_df.head()

In [ ]:
appointment_df['description'].isnull().sum()

In [ ]:
appointment_df[appointment_df['description'].str.contains('Military', 
                                                         na = False)]

#### Handling Missing Values
<li>We can use fillna() method in pandas to fill missing values using different ways.</li>
<li>We can use interpolation method to make a guess on missing values.</li>
<li>We can use dropna() method to drop rows with missing values.</li>
<li>We can also fill missing values with the mean value, median value or the mode value depending on the values of columns.</li>
<li>Filling missing values with mean and median is appropriate when the column has continuous values.</li>
<li>If the data is categorical then filling missing values with mode is a good idea.</li>

In [ ]:
weather_df

In [ ]:
weather_df['temperature_fillna_0'] = weather_df['temperature'].fillna(0)
weather_df

In [ ]:
weather_df['temperature_fillna_mean'] = weather_df['temperature'].fillna(weather_df['temperature'].mean())
weather_df['temperature_fillna_mean'] = weather_df['temperature_fillna_mean'].round(2)

In [ ]:
weather_df

In [ ]:
median = weather_df['windspeed'].median()
weather_df['windspeed_fillna_median'] = weather_df['windspeed'].fillna(median)

In [ ]:
weather_df[['day', 'windspeed', 'windspeed_fillna_median']]

In [29]:
mode = weather_df['event'].mode()[0]
weather_df['event_fillna_mode'] =  weather_df['event'].fillna(mode)

NameError: name 'weather_df' is not defined

In [ ]:
weather_df[['day', 'event', 'event_fillna_mode']]

#### fillna(method = 'ffill')

In [ ]:
weather_df['ffill_temperature'] = weather_df['temperature'].fillna(method = 'ffill')

In [ ]:
weather_df[['day', 'temperature', 'ffill_temperature']]

#### fillna(method = 'bfill')

In [ ]:
import pandas as pd

In [34]:
weather_df = pd.read_csv('data/weather_data_nan.csv')
weather_df.head()

        day  temperature  windspeed   event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0   Sunny
2  1/5/2017         -1.0        NaN    Snow
3  1/6/2017          NaN        7.0     NaN
4  1/7/2017         32.0        NaN    Rain

In [35]:
weather_df['bfill_temperature'] = weather_df['temperature'].fillna(method = 'bfill')

C:\Users\Hp\AppData\Local\Temp\ipykernel_15276\2992870978.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  weather_df['bfill_temperature'] = weather_df['temperature'].fillna(method = 'bfill')

In [36]:
weather_df[['day', 'temperature', 'bfill_temperature']]

          day  temperature  bfill_temperature
0    1/1/2017         32.0               32.0
1    1/4/2017          NaN               -1.0
2    1/5/2017         -1.0               -1.0
3    1/6/2017          NaN               32.0
4    1/7/2017         32.0               32.0
5    1/8/2017          NaN               34.0
6    1/9/2017          NaN               34.0
7   1/10/2017         34.0               34.0
8   1/11/2017         -4.0               -4.0
9   1/12/2017         26.0               26.0
10  1/13/2017         12.0               12.0
11  1/11/2017         -1.0               -1.0
12  1/14/2017         40.0               40.0

#### Interpolate(Linear Interpolation)
<li>method = time</li>

In [ ]:
weather_df['interpolate_temp'] = weather_df['temperature'].interpolate(method = 'linear')

In [ ]:
weather_df[['day', 'temperature', 'interpolate_temp']]

In [ ]:
weather_df = pd.read_csv('weather_data_nan.csv', parse_dates = ['day'])
weather_df

In [ ]:
weather_df.set_index('day', inplace = True)
weather_df.head()

In [ ]:
weather_df['interpolate_time'] = weather_df['temperature'].interpolate(method = 'time')

In [ ]:
weather_df.head(10)

#### dropna()
<li>dropna() with how and threshold parameter</li>

In [ ]:
clean_weather_df = weather_df.dropna()

In [ ]:
weather_df[['temperature', 'windspeed']].dropna(how = 'all')

In [ ]:
clean_weather_df

#### Handle Missing Values using .replace() method

In [ ]:
weather_df.replace('Rainy', 'Rain')

In [ ]:
import numpy as np
weather_df.replace([-4, -1, np.nan], 0)

#### Replacing Values Using a Dictionary (using columns and without using columns)

In [ ]:
weather_df.replace({-1.0 : 0, -4.0 : 0, np.nan: 0})

In [ ]:
weather_df.replace({'temperature': {np.nan: weather_df['temperature'].mean()},
                   'windspeed': {np.nan: weather_df['windspeed'].median()},
                    'event': {np.nan: 'windy'}
                   })

#### Replacing values using a regex
<code>
df.replace(original_value, replaced_value, regex = True)
</code>

In [ ]:
df = pd.read_csv('weather_dataset.csv', parse_dates = ['day'])
df.head()

In [ ]:
df.set_index('day', inplace = True)

In [ ]:
df.replace("[A-Za-z]","", regex = True)

In [ ]:
df['temperature'].replace("[A-Za-z]", "", regex = True, inplace = True)

In [30]:
df['windspeed'].replace("[A-Za-z]", "", regex = True, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df.head()

In [ ]:
new_df = pd.read_csv('weather_dataset.csv')
new_df.head()

In [ ]:
new_df['windspeed'].replace("[a-z/a-z]", "", regex = True, inplace = True)

In [ ]:
new_df.head()

In [ ]:
new_df['event'] = new_df['event'].str.strip()

In [ ]:
new_df.replace({'event': {np.nan: 'Windy', 'Rain': 'Rainy',
                         'Snow': 'Snowy'}}, inplace = True)
new_df

In [ ]:
new_df['playing'] = 0

In [ ]:
new_df.loc[(new_df['event'] == "Sunny") |
          (new_df['event'] == "Windy"), 'playing'] = 1

In [ ]:
new_df

#### Mapping values of a particular column using replace method
<li>Replacing the list of values using another list of values</li>
<li>Replacing values of a particular column using a dictionary</li>

In [ ]:
new_df.replace([0, 1], ['No', 'Yes'], inplace = True)

In [ ]:
new_df.head()

#### GroupBy Functions
<li>Pandas groupby is used for grouping the data according to the categories and apply a function to the categories.</li>
<li>It also helps to aggregate data efficiently.</li>
<li>Pandas dataframe.groupby() function is used to split the data into groups based on some criteria.</li>
<code>
    df.groupby(col_name, as_index, sort, dropna)
</code>
<li>It uses split, apply, combine principle to create a groupby dataframe.</li>
<li>The groupby function accepts multiple parameters. Some of them are as follows:</li>
<ol>
    <li>col_name(required): the name of column against which you want to group elements.</li>
    <li>as_index(optional): default = True, if you want to include groupby column as an index set it        to True else False.</li>
    <li>sort(optional): default = True, if you want to sort the group based on keys then keep it as       True else False.</li>
    <li>dropna(optional): default = True, if you keep it as false then it will also include Nan values     as a separate group.</li>
</ol>

In [ ]:
import pandas as pd
df = pd.read_csv('csv_data/weather_data_nan.csv')
df.head()

In [ ]:
df['event'] = df['event'].str.strip()

In [ ]:
df.groupby('event')['temperature'].mean().to_frame()

In [ ]:
df.groupby('event', sort = False)['windspeed'].mean().to_frame()

In [ ]:
df.groupby('event', sort = True)[['windspeed', 'temperature']].mean()

In [ ]:
df.groupby('event', sort = True, dropna = False)[['windspeed', 'temperature']].mean()

In [ ]:
df.groupby('event', sort = True, as_index = False)[['windspeed', 'temperature']].mean()

### GroupBy Aggregation Functions
<li>Here are some of the aggregating functions available in Pandas and quick summary of what it does.</li>
<ol>
    <li>mean(): Compute mean of groups for numeric columns</li>
    <li>sum(): Compute sum of group values for numeric columns</li>
    <li>size(): Compute group sizes</li>
    <li>count(): Compute count of group</li>
    <li>std(): Standard deviation of groups for numeric columns</li>
    <li>var(): Compute variance of groups for numeric columns</li>
    <li>describe(): Generates descriptive statistics</li>
    <li>first(): Compute first of group values</li>
    <li>last(): Compute last of group values</li>
    <li>nth() : Take nth value, or a subset if n is a list</li>
    <li>min(): Compute min of group values</li>
    <li>max(): Compute max of group values</li>
</ol>

In [ ]:
car_df = pd.read_csv('csv_data/car_details.csv')
car_df.head()

In [ ]:
car_df['brand'] = car_df['name'].str.strip().str.split(' ').str[0]

In [ ]:
car_df.groupby(['year','brand'], as_index = False)['km_driven'].mean()

In [ ]:
car_df.groupby(['year','brand'], as_index = False)['selling_price'].sum()

In [ ]:
car_df.groupby(['year','brand'], as_index = False)['selling_price'].count()

In [ ]:
car_df.groupby(['year','brand'], as_index = False)['selling_price'].size()

In [ ]:
car_df.groupby(['brand'], as_index = False).nth(2)

#### Question
<li>Read 'car_details.csv' file and create a pandas dataframe from this file.</li>
<li>Find the maximum price for each of the car brand.</li>
<li>Find the average price for each of the fuel types.</li>
<li>Find the average km_driven for each of the seller_types.</li>
<li>Find the count of each of the car names.</li>
<li>Find the maximum km_driven for each of the owner types.</li>

In [ ]:
car_df.groupby('brand')['selling_price'].max().to_frame()

In [31]:
car_df.groupby(['fuel'], as_index = False)['selling_price'].mean()

NameError: name 'car_df' is not defined

In [ ]:
car_df.groupby(['seller_type'], as_index = False)['km_driven'].mean()

In [ ]:
car_df.groupby(['brand'], as_index = False)['name'].count()

In [ ]:
car_df.groupby(['owner'], as_index = False)['km_driven'].max()

####  Concatenating DataFrames
<li>pandas.concat() function does all the heavy lifting of performing concatenation operations along with an axis</li>
<li>If we want to join two individual dataframes and create a combined dataframe out of it, we can use concatenation operation for doing so.</li>
<li>We can use concatenation operation along the rows(axis=0) as well as along the columns(axis = 1)</li>

**syntax**

<code>
    pd.concat([df1,df2], axis, keys, ignore_index)
</code>

<li>df1 and df2 (required) are two dataframes which we want to merge.</li>
<li>axis: axis to concatenate along, (possible values; 0(along the rows) and 1 (along the cols) default = 0 (along the rows).</li>
<li>keys: sequence to add an identifier to the result indexes; default = None</li>
<li>ignore_index: if True, do not use the index values along the concatenation axis; default = False</li>

#### Concatenating Dataframes along the rows
![](images/concat_rows.png)

In [ ]:
df1 = pd.DataFrame({"Name": ["Prabhat", "Hari", "Shyam", "Sita", "Mahima"],
                   "Age": [24, 34, 50, 32, 18],
                   "Address": ["Manigram", "Dhanewa", "Bardaghat", "Manglapur", "Bharatpur"]
                   })
df1.head()

In [ ]:
df2 = pd.DataFrame({"Name": ["Sunil", "Bhawana", "Shiva", "Himal", "Dipen"],
                   "Age": [23, 22, 23, 25, 26],
                   "Address": ["Kathmandu", "Ramechap", "Kalangki", 
                               "Chaupatta", "Kirtipur"]
                   })
df2.head()

In [ ]:
combined_df1 = pd.concat([df1, df2], axis = 0, ignore_index = True)
combined_df1

#### Concatenating DataFrames along columns
![](images/concat_cols.png)

In [ ]:
df3 = df
df3.head()

In [ ]:
combined_df2 = pd.concat([combined_df1, df3], axis = 1)
combined_df2.head()

#### Merge
<li>Pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL.</li>
<li>Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects.</li>
<li>The <b>merge()</b> method updates the content of two DataFrame by merging them together, using the specified method(s).</li>
<li>We can use the parameters to control which values to keep and which to replace during merge operation.</li>
<li>We can specify any type of join we want by using how parameter in merge method.</li>
<li>There are four types of join operations. They are :</li>
<ol>
    <b><li>Inner join</li></b>
    <b><li>Left join</li></b>
    <b><li>Right join</li></b>
    <b><li>Outer join</li></b>
</ol>

#### 1. Inner Join
![](images/inner_join.png)

In [ ]:
df1 = pd.DataFrame({"name": ["Prabhat", "Hari", "Shyam", "Sita", "Mahima", "Sunil"],
                   "gender": ["Male", "Male", "Male", "Female", "Female", "Male"],
                   "address": ["Manigram", "Dhanewa", "Bardaghat", "Manglapur", 
                              "Bharatpur", "Kathmandu"]})
df1.head()

In [ ]:
df2 = pd.DataFrame({"name": ["Prabhat", "Hari", "Shiva", "Bhawana", "Mahima", "Sunil"],
                   "age": [24, 34, 50, 32, 18, 23],
                   "height": [1.6, 1.7, 1.8, 1.43, 1.65, 1.73]})

df2.head()

In [ ]:
inner_df = pd.merge(df1, df2, on = "name", how = "inner")
inner_df.head(10)

#### 2. Left Join

![](images/left_join.png)

In [ ]:
left_df = pd.merge(df1, df2, how = "left", on = "name")
left_df

#### 3. Right Join

![](images/right_join.png)

In [ ]:
right_df = pd.merge(df1, df2, how = "right", on = "name")
right_df

#### 4. Outer Join

![](images/outer_join.png)

In [ ]:
outer_df = pd.merge(df1, df2, how = "outer", on = "name")
outer_df

#### Crosstab 

<li>Cross tabulation is used to quantitatively analyze the relationship between multiple variables.</li>
<li>Cross tabulations — also referred to as contingency tables or crosstabs.</li>
<li>They group variables together and enable researchers to understand the correlation between different variables.<li>
<li>When we are doing multivariate analysis then we often came across crosstab() methods in pandas.</li>

**Syntax**

<code>
    pd.crosstab(index, columns, values, margins, margin_names, normalize,aggfunc, dropna)
</code>
<ol>
    <li>index : array-like, Series, or list of arrays/Series, Values to group by in the rows.</li>
    <li>columns : array-like, Series, or list of arrays/Series, Values to group by in the columns.</li>
    <li>values : array-like, optional, array of values to aggregate according to the factors. Requires `aggfunc` be specified.     </li>
    <li>aggfunc : function, optional, If specified, requires `values` be specified as well.</li>
    <li>margins : bool, default False, Add row/column margins (subtotals).</li>
    <li>margins_name : str, default ‘All’, Name of the row/column that will contain the totals when margins is True.</li>
    <li>dropna : bool, default True, Do not include columns whose entries are all NaN.</li>
    <li>normalize: </li>
    <ol>
        <li>If passed ‘all’ or True, will normalize over all values.</li>
        <li>If passed ‘index’ will normalize over each row.</li>
        <li>If passed ‘columns’ will normalize over each column.</li>
        <li>If margins is True, will also normalize margin values.</li>
    </ol>
</ol>

In [ ]:
import pandas as pd

In [ ]:
car_df = pd.read_csv('csv_data/car_details.csv')
car_df.head()

In [ ]:
car_df.dtypes

In [ ]:
car_df['price_range'] = "Cheap"

In [ ]:
car_df.loc[((car_df['selling_price'] > 50000) &
           (car_df['selling_price'] < 100000)), 'price_range'] = "Medium"

car_df.loc[((car_df['selling_price'] > 100000) &
           (car_df['selling_price'] < 500000)), 'price_range'] = "Expensive"

car_df.loc[car_df['selling_price'] > 500000, 'price_range'] = "Very Expensive"

In [ ]:
car_df['price_range'].value_counts()

In [ ]:
pd.crosstab(car_df['price_range'], car_df['fuel'])

In [ ]:
pd.crosstab(car_df['price_range'], car_df['fuel'], margins = True,
           margins_name = "Total")

In [ ]:
pd.crosstab(car_df['price_range'], car_df['fuel'], margins = True,
            normalize = 'index')

In [ ]:
pd.crosstab(car_df['price_range'], car_df['fuel'], margins = True,
            normalize = 'columns')

In [ ]:
pd.crosstab(car_df['price_range'], car_df['fuel'], margins = True,
            normalize = 'all')

#### Pivot
<li>pivot() method produces pivot table based on 3 columns of the DataFrame. Uses unique values from index / columns and fills with values.</li>

    
**syntax**
<code>
pd.pivot(index, columns, values)
</code>
    
<b>Parameters:</b>
<ol>
    <li>index[ndarray] : Labels to use to make new frame’s index</li>
    <li>columns[ndarray] : Labels to use to make new frame’s columns</li>
    <li>values[ndarray] : Values to use for populating new frame’s values</li>
</ol>

**Returns: Reshaped DataFrame**

**Exception: ValueError raised if there are any duplicates.**

In [ ]:
car_df['brand'] = car_df['name'].str.strip().str.split(' ').str[0].str.strip()

In [ ]:
car_df['brand'].value_counts()

In [ ]:
pd.pivot_table(data = car_df, index = 'price_range', columns = 'brand',
         values = 'selling_price')

In [ ]:
car_df.loc[(car_df['brand'] == "Volkswagen") &
          (car_df['price_range'] == "Medium")]

In [32]:
pd.pivot_table(data = car_df, index = 'seller_type',
              columns = 'owner', values = "selling_price")

NameError: name 'car_df' is not defined

In [ ]:
car_df['selling_price'].isnull().sum()