In [34]:
!pip install bs4

Requirement already satisfied: bs4 in g:\data science and ml metro\env\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in g:\data science and ml metro\env\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in g:\data science and ml metro\env\lib\site-packages (from beautifulsoup4->bs4) (2.5)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [35]:
!pip install requests

Requirement already satisfied: requests in g:\data science and ml metro\env\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in g:\data science and ml metro\env\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in g:\data science and ml metro\env\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in g:\data science and ml metro\env\lib\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in g:\data science and ml metro\env\lib\site-packages (from requests) (2024.2.2)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [36]:
!pip install pandas

Requirement already satisfied: pandas in g:\data science and ml metro\env\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in g:\data science and ml metro\env\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in g:\data science and ml metro\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in g:\data science and ml metro\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in g:\data science and ml metro\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in g:\data science and ml metro\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
import requests
from bs4 import BeautifulSoup
import pandas
url = "https://www.worldometers.info/coronavirus/"
response = requests.get(url)
response

In [38]:
# response.content

In [39]:
soup = BeautifulSoup(response.content, "html.parser")
# print(soup.prettify()[:5000])

In [40]:
table_head = soup.find("thead")
# table_head.text

In [41]:
world_data = soup.find("tbody").find_all("tr")
# world_data

In [42]:
for index, data in enumerate(world_data):
    # print(data)
    print("--------------------")
    if index == 2:
        break

--------------------
--------------------
--------------------

In [43]:
columns_names = [
    "Names",
    "Total Cases",
    "New Cases",
    "Total Deaths",
    "New Deaths",
    "Total Recovered",
    "New Recovered",
    "Active Cases",
    "Serious Cases",
    "Total Tests",
    "Population"
]

In [44]:
import pandas as pd
df = pd.DataFrame(columns=columns_names)
df

Empty DataFrame
Columns: [Names, Total Cases, New Cases, Total Deaths, New Deaths, Total Recovered, New Recovered, Active Cases, Serious Cases, Total Tests, Population]
Index: []

In [45]:
for index in range(8, len(world_data)):
    
    list_data = world_data[index].find_all("td")
    
    data = []
    
    for i in range(1, len(list_data)):
        
        if  i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 14]:
            item = list_data[i].text
            data.append(item)
            
    length = len(df)
    df.loc[length] = data
    
# df

In [46]:
complete_data = []

for i in range(8, len(world_data)):
    
    list_data = world_data[i].find_all("td")

    data = []
    
    for i in range(1, len(list_data)):
        
        if i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 14]:
            
            single_data = list_data[i].text
            data.append(single_data)
            
    complete_data.append(data)
    
# complete_data

In [47]:
df = pd.DataFrame(complete_data, columns=columns_names)
data_to_insert = df.to_records(index=False)

In [48]:
df.to_csv("covid_data.csv", index=False)

In [49]:
pd.read_csv("covid_data.csv")

,Names,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Serious Cases,Total Tests,Population
0,USA,"111,568,359",NaN,"1,216,502",NaN,"109,335,248",NaN,"1,016,609","1,525","1,186,765,074","334,805,269"
1,India,"45,030,467",NaN,"533,499",NaN,NaN,NaN,NaN,NaN,"935,879,495","1,406,631,776"
2,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"271,490,188","65,584,518"
3,Germany,"38,822,926",NaN,"182,669",NaN,"38,240,600",NaN,"399,657",NaN,"122,332,384","83,883,596"
4,Brazil,"38,452,504",NaN,"709,963",NaN,"36,249,161",NaN,"1,493,380",NaN,"63,776,166","215,353,593"
...,...,...,...,...,...,...,...,...,...,...,...
226,Tokelau,80,NaN,,NaN,NaN,NaN,80,NaN,NaN,"1,378"
227,Vatican City,29,NaN,,NaN,29,NaN,0,NaN,NaN,799
228,Western Sahara,10,NaN,1,NaN,9,NaN,0,NaN,NaN,"626,161"
229,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,NaN,
230,China,"503,302",NaN,"5,272",NaN,"379,053",NaN,"118,977",NaN,"160,000,000","1,448,471,400"

In [50]:
import sqlite3

db_name = "covid_data.db"

conn = sqlite3.connect(db_name)

cur = conn.cursor()

print(conn, cur)

<sqlite3.Connection object at 0x0000027C826B5D50> <sqlite3.Cursor object at 0x0000027C87C7E540>

In [51]:
query = """create table covid_details(Names varchar[50], Total_Cases varchar[50], New_Cases varchar[50],
        Total_Deaths varchar[50], New_Deaths varchar[50], Total_Recovered varchar[50],	New_Recovered varchar[50], Active_Cases varchar[50], 
        Serious_Cases varchar[50],	Total_Tests varchar[50], Population varchar[50])"""

In [52]:
# cur.execute(query)

In [53]:
query = """insert into covid_details (Names, Total_Cases, New_Cases, Total_Deaths, New_Deaths, Total_Recovered,	New_Recovered, Active_Cases, 
        Serious_Cases,	Total_Tests, Population) values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""

In [54]:
cur.executemany(query, data_to_insert)

OperationalError: database is locked

In [ ]:
cur.execute("select Total_Cases from covid_details where Names = 'USA'").fetchall()