# Loading Datasets

In [364]:
import pandas as pd
import openpyxl
import matplotlib.pyplot as plt
import seaborn as sns


df = pd.read_excel("data/Data_Train.xlsx", engine="openpyxl")
df.sample(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
651,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,06:10,08:55,2h 45m,non-stop,No info,7591
8700,IndiGo,24/03/2019,Chennai,Kolkata,MAA → CCU,11:35,14:00,2h 25m,non-stop,No info,4332
9712,Jet Airways,6/05/2019,Kolkata,Banglore,CCU → DEL → BLR,20:25,18:00 07 May,21h 35m,1 stop,In-flight meal not included,9314
190,IndiGo,03/03/2019,Banglore,New Delhi,BLR → HYD → DEL,12:10,17:05,4h 55m,1 stop,No info,8738
2753,Jet Airways,12/06/2019,Kolkata,Banglore,CCU → BOM → BLR,16:30,16:20 13 Jun,23h 50m,1 stop,No info,13044

# Data inspection

In [365]:
df.shape # shape of the DataFrame (row, columns)

(10683, 11)

In [366]:
df.isnull().any() # checks if the DataFrame columns contains the null value of not

Airline            False
Date_of_Journey    False
Source             False
Destination        False
Route               True
Dep_Time           False
Arrival_Time       False
Duration           False
Total_Stops         True
Additional_Info    False
Price              False
dtype: bool

In [367]:
df.isna().sum() # gives total number of missing values(null) in the columns

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [368]:
df.isna().sum() / len(df) # gives percentage of the missing values of the columns

Airline            0.000000
Date_of_Journey    0.000000
Source             0.000000
Destination        0.000000
Route              0.000094
Dep_Time           0.000000
Arrival_Time       0.000000
Duration           0.000000
Total_Stops        0.000094
Additional_Info    0.000000
Price              0.000000
dtype: float64

In [369]:
df.dropna(inplace=True) # since only 2 rows contains missing values so deleting the rows which contains the missing values
df.reset_index(inplace=True, drop=True) # resetting index of the dataframe as index from the middle is dropped

In [370]:
df.isnull().any() # after deleting checking the missing value if there is any

Airline            False
Date_of_Journey    False
Source             False
Destination        False
Route              False
Dep_Time           False
Arrival_Time       False
Duration           False
Total_Stops        False
Additional_Info    False
Price              False
dtype: bool

In [371]:
df.dtypes # checking the datatypes of all the columns

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [372]:
df.info() # checking the info of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.1+ KB

In [373]:
df.describe() # overview of the numerical data

              Price
count  10682.000000
mean    9087.214567
std     4611.548810
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [374]:
df.describe(include="object") # overview of the categorical data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,10682,10682,10682,10682,10682,10682,10682,10682,10682,10682
unique,12,44,5,6,128,222,1343,368,5,10
top,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,18:55,19:00,2h 50m,1 stop,No info
freq,3849,504,4536,4536,2376,233,423,550,5625,8344

In [375]:
df.sample(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
380,Multiple carriers,6/03/2019,Delhi,Cochin,DEL → BOM → COK,13:00,01:35 07 Mar,12h 35m,1 stop,No info,15603
5163,IndiGo,1/06/2019,Delhi,Cochin,DEL → BOM → COK,17:10,01:30 02 Jun,8h 20m,1 stop,No info,6628

In [376]:
day = []
month = []
for date in df["Date_of_Journey"]: # looping through date_of_journey to get day and month
    list_date = date.split("/") # splitting the date using "/" to get the form of ["9", "05", "2019"]
    day.append(list_date[0]) # appending 0 index data to day 
    month.append(list_date[1]) # appending 1 index data to month list

# month

In [377]:
df["Day"] = day # inserting day columns 
df["Month"] = month # inserting month columns in the dataframe

In [378]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03

In [379]:
df.drop("Date_of_Journey", axis=1, inplace=True) # deleting Date of journey columns form the dataframe

In [380]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05

In [381]:
# Extracting hour and minute from the Departure time (Dep_Time) from the dataframe and dumping it in new columns (Dep_Hour, Dep_Minute)
dep_hrs = []
dep_min = []
for time in df["Dep_Time"]:
    # print(time)
    list_time = time.split(":")
    # print(list_time)
    dep_hrs.append(list_time[0])
    dep_min.append(list_time[1])
# dep_hrs
# dep_min

In [382]:
# Adding columns Dep_Hours and Dep_Minute in the DataFrame
df["Dep_Hours"] = dep_hrs
df["Dep_Minutes"] = dep_min

In [383]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Dep_Hours,Dep_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,05,50

In [384]:
# Deleting Dep_Time columns from the dataframe
df.drop("Dep_Time", axis="columns", inplace=True)
df.head(2)

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Dep_Hours,Dep_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,05,05,50

In [385]:
df.dtypes

Airline            object
Source             object
Destination        object
Route              object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
Day                object
Month              object
Dep_Hours          object
Dep_Minutes        object
dtype: object

In [386]:
# Extracting hour and minute from the Arrival time (Arrival_Time) from the dataframe and dumping it in new columns (Arrival_Hour, Arrival_Minute)
df["Arrival_Hour"] = pd.DatetimeIndex(df["Arrival_Time"]).hour
df["Arrival_Minute"] = pd.DatetimeIndex(df["Arrival_Time"]).minute
df.drop("Arrival_Time", axis=1, inplace=True)

In [387]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day,Month,Dep_Hours,Dep_Minutes,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,03,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,05,05,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,06,09,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,05,18,05,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,01,03,16,50,21,35

In [388]:
# converting Duration in the format with out alphabets 
td = pd.to_timedelta(df["Duration"])
td

0       0 days 02:50:00
1       0 days 07:25:00
2       0 days 19:00:00
3       0 days 05:25:00
4       0 days 04:45:00
              ...
10677   0 days 02:30:00
10678   0 days 02:35:00
10679   0 days 03:00:00
10680   0 days 02:40:00
10681   0 days 08:20:00
Name: Duration, Length: 10682, dtype: timedelta64[ns]

In [389]:
# extracting duration hour and duration minute from the time delta(td)
dur_hr = []
dur_min = []
for i in range(len(td)): # loop using the length of timedelta
    seconds = td[i].seconds  # taking out the time in the format of seconds 
    minutes = seconds / 60  # total minutes in the duration
    hour = minutes // 60 #  # converting minutes in hours with the help of floor division
    minute = minutes % 60 # # minutes
    dur_hr.append(hour)  # appending the hour in duration hour list
    dur_min.append(minute) # appending the minute in duration minute list

dur_min[:5]

[50.0, 25.0, 0.0, 25.0, 45.0]

In [390]:
# Adding new column in the dataframe Duration_Hour and Duration_Minute
df["Duration_Hour"] = dur_hr
df["Duration_Minute"] = dur_min

In [391]:
# converting datatype of the columns in the int format using astype method
df[["Day", "Month", "Dep_Hours", "Dep_Minutes", "Duration_Hour", "Duration_Minute"]] = df[["Day", "Month", "Dep_Hours", "Dep_Minutes", "Duration_Hour", "Duration_Minute"]].astype("int32")

In [392]:
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day,Month,Dep_Hours,Dep_Minutes,Arrival_Hour,Arrival_Minute,Duration_Hour,Duration_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15,7,25

In [393]:
df.dtypes

Airline            object
Source             object
Destination        object
Route              object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
Day                 int32
Month               int32
Dep_Hours           int32
Dep_Minutes         int32
Arrival_Hour        int32
Arrival_Minute      int32
Duration_Hour       int32
Duration_Minute     int32
dtype: object

In [394]:
# dropping Duration columns from the dataframe as hour and minute are already extracted from the duration
df.drop("Duration", axis=1, inplace=True)

In [395]:
df.head(2)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Day,Month,Dep_Hours,Dep_Minutes,Arrival_Hour,Arrival_Minute,Duration_Hour,Duration_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,15,7,25

In [396]:
# extracting each route in a separate columns
l_route = [] # length of the route
routes = [] # total no. of the rutes in list of list

for i in range(len(df["Route"])): # looping through the length of the Route columns
    
    routes_n = [] # assigning empty value so that in the next iteration it should be empty
    item = df["Route"][i] # n item from the route column
    list = item.split("→") # splitting the item in the form of list
    # print(list)
    l_route.append(len(list)) #appending length of the list in the l_route list to get the length of the list

    for j in range(6): # looping 6 times to get 6 route (route_1 to route_6)
        
        if j < len(list): # if the value of j is less than length of list it will append the value in the list in the routes_n list
            routes_n.append(list[j]) 
                    
        else:
            routes_n.append(float("Nan")) # else if there is not value it will append "Nan"
            
    routes.append(routes_n) # appending routes into routes list to form list of list
                    
            
# routes
# l_route

In [397]:
# Adding new columns length of the route and all the route from route 1 to route 6 to the columns
df[["Route_1", "Route_2", "Route_3", "Route_4", "Route_5", "Route_6"]] = routes

In [398]:
# adding length_of_Route columns to the DataFrame
df["Length_of_Route"] = l_route

In [399]:
# dropping the route column after extracting each data
df.drop("Route", axis=1, inplace=True)

In [400]:
df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Day,Month,Dep_Hours,Dep_Minutes,...,Arrival_Minute,Duration_Hour,Duration_Minute,Route_1,Route_2,Route_3,Route_4,Route_5,Route_6,Length_of_Route
0,IndiGo,Banglore,New Delhi,non-stop,No info,3897,24,3,22,20,...,10,2,50,BLR,DEL,NaN,NaN,NaN,NaN,2
1,Air India,Kolkata,Banglore,2 stops,No info,7662,1,5,5,50,...,15,7,25,CCU,IXR,BBI,BLR,NaN,NaN,4

In [401]:
# REplacing categorical data of Total_stops with numerical value
df.replace(["non-stop", "1 stop", "2 stops", "3 stops", "4 stops"], [0, 1, 2, 3 ,4], inplace=True)
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Day,Month,Dep_Hours,Dep_Minutes,...,Arrival_Minute,Duration_Hour,Duration_Minute,Route_1,Route_2,Route_3,Route_4,Route_5,Route_6,Length_of_Route
0,IndiGo,Banglore,New Delhi,0,No info,3897,24,3,22,20,...,10,2,50,BLR,DEL,NaN,NaN,NaN,NaN,2
1,Air India,Kolkata,Banglore,2,No info,7662,1,5,5,50,...,15,7,25,CCU,IXR,BBI,BLR,NaN,NaN,4
2,Jet Airways,Delhi,Cochin,2,No info,13882,9,6,9,25,...,25,19,0,DEL,LKO,BOM,COK,NaN,NaN,4
3,IndiGo,Kolkata,Banglore,1,No info,6218,12,5,18,5,...,30,5,25,CCU,NAG,BLR,NaN,NaN,NaN,3
4,IndiGo,Banglore,New Delhi,1,No info,13302,1,3,16,50,...,35,4,45,BLR,NAG,DEL,NaN,NaN,NaN,3

### Since source, Destination, Airline and Additional_Info are nominal Data we use One Hot Encoding()

In [402]:
# performing one hot encoding in source and destinatio column
df = pd.get_dummies(data=df, columns=["Airline", "Source", "Destination", "Additional_Info"], drop_first=False)

In [403]:
df.head(2)

,Total_Stops,Price,Day,Month,Dep_Hours,Dep_Minutes,Arrival_Hour,Arrival_Minute,Duration_Hour,Duration_Minute,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,0,3897,24,3,22,20,1,10,2,50,...,False,False,False,False,False,False,False,False,True,False
1,2,7662,1,5,5,50,13,15,7,25,...,False,False,False,False,False,False,False,False,True,False

In [404]:
# Working with Total stops columns in the dataframe
# df["Total_Stops"].unique()
df.columns

Index(['Total_Stops', 'Price', 'Day', 'Month', 'Dep_Hours', 'Dep_Minutes',
       'Arrival_Hour', 'Arrival_Minute', 'Duration_Hour', 'Duration_Minute',
       'Route_1', 'Route_2', 'Route_3', 'Route_4', 'Route_5', 'Route_6',
       'Length_of_Route', 'Airline_Air Asia', 'Airline_Air India',
       'Airline_GoAir', 'Airline_IndiGo', 'Airline_Jet Airways',
       'Airline_Jet Airways Business', 'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Banglore', 'Source_Chennai', 'Source_Delhi', 'Source_Kolkata',
       'Source_Mumbai', 'Destination_Banglore', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi', 'Additional_Info_1 Long layover',
       'Additional_Info_1 Short layover', 'Additional_Info_2 Long layover',
       'Additional_Info_Business class', 'Additional_Info_Change airports',
       'Additional_Info_In-flight meal not included',
       'Additional_Info_No Info',
       'Additional_Info_No check-in baggage included',
       'Additional_Info_No info', 'Additional_Info_Red-eye flight'],
      dtype='object')

In [409]:
df.isna().sum()

Total_Stops                                         0
Price                                               0
Day                                                 0
Month                                               0
Dep_Hours                                           0
Dep_Minutes                                         0
Arrival_Hour                                        0
Arrival_Minute                                      0
Duration_Hour                                       0
Duration_Minute                                     0
Route_1                                             0
Route_2                                             0
Route_3                                          3491
Route_4                                          9116
Route_5                                         10636
Route_6                                         10681
Length_of_Route                                     0
Airline_Air Asia                                    0
Airline_Air India                                   0
Airline_GoAir                                       0
Airline_IndiGo                                      0
Airline_Jet Airways                                 0
Airline_Jet Airways Business                        0
Airline_Multiple carriers                           0
Airline_Multiple carriers Premium economy           0
Airline_SpiceJet                                    0
Airline_Trujet                                      0
Airline_Vistara                                     0
Airline_Vistara Premium economy                     0
Source_Banglore                                     0
Source_Chennai                                      0
Source_Delhi                                        0
Source_Kolkata                                      0
Source_Mumbai                                       0
Destination_Banglore                                0
Destination_Cochin                                  0
Destination_Delhi                                   0
Destination_Hyderabad                               0
Destination_Kolkata                                 0
Destination_New Delhi                               0
Additional_Info_1 Long layover                      0
Additional_Info_1 Short layover                     0
Additional_Info_2 Long layover                      0
Additional_Info_Business class                      0
Additional_Info_Change airports                     0
Additional_Info_In-flight meal not included         0
Additional_Info_No Info                             0
Additional_Info_No check-in baggage included        0
Additional_Info_No info                             0
Additional_Info_Red-eye flight                      0
dtype: int64

In [406]:
# mapping Total stops value with numerical values
# stop_mapping = {"non-stop": 0, "1 stop": 1, "2 stops": 2, "3 stops": 3, "4 stops": 4}
# df["Total_Stops"] = df["Total_Stops"].str.strip().map(stop_mapping)
# df.head(2)

In [407]:
# Checking total missing values
df.isna().sum()

Total_Stops                                         0
Price                                               0
Day                                                 0
Month                                               0
Dep_Hours                                           0
Dep_Minutes                                         0
Arrival_Hour                                        0
Arrival_Minute                                      0
Duration_Hour                                       0
Duration_Minute                                     0
Route_1                                             0
Route_2                                             0
Route_3                                          3491
Route_4                                          9116
Route_5                                         10636
Route_6                                         10681
Length_of_Route                                     0
Airline_Air Asia                                    0
Airline_Air India                                   0
Airline_GoAir                                       0
Airline_IndiGo                                      0
Airline_Jet Airways                                 0
Airline_Jet Airways Business                        0
Airline_Multiple carriers                           0
Airline_Multiple carriers Premium economy           0
Airline_SpiceJet                                    0
Airline_Trujet                                      0
Airline_Vistara                                     0
Airline_Vistara Premium economy                     0
Source_Banglore                                     0
Source_Chennai                                      0
Source_Delhi                                        0
Source_Kolkata                                      0
Source_Mumbai                                       0
Destination_Banglore                                0
Destination_Cochin                                  0
Destination_Delhi                                   0
Destination_Hyderabad                               0
Destination_Kolkata                                 0
Destination_New Delhi                               0
Additional_Info_1 Long layover                      0
Additional_Info_1 Short layover                     0
Additional_Info_2 Long layover                      0
Additional_Info_Business class                      0
Additional_Info_Change airports                     0
Additional_Info_In-flight meal not included         0
Additional_Info_No Info                             0
Additional_Info_No check-in baggage included        0
Additional_Info_No info                             0
Additional_Info_Red-eye flight                      0
dtype: int64

In [408]:
df.groupby(["Additional_Info"], as_index=False).Additional_Info.value_counts()

KeyError: 'Additional_Info'

In [ ]:
df.groupby(["Additional_Info"], as_index=False).Price.mean()

In [ ]:
df.Additional_Info.unique()

# EDA (Exploratory Data Analysis)

In [ ]:
plt.figure(figsize=(14, 8))
sns.countplot(x="Additional_Info", data=df)

In [ ]:
df.groupby(["Total_Stops"], as_index=False).Price.mean()

In [ ]:
sns.countplot(x=df["Total_Stops"])

In [ ]:
df.corr(numeric_only=True)

In [ ]:
plt.figure(figsize=(12, 8))
sns.heatmap(df.corr(numeric_only=True), annot=True)
plt.show()

In [ ]:
s = df.Airline.value_counts()
plt.figure(figsize=(14, 10))
plt.pie(s.values, labels=s.index, autopct="%.2f%%")
plt.show()

In [ ]:
sns.countplot(x="Duration_Hour", data=df)

In [ ]:
sns.histplot(df["Dep_Hours"], kde=True)

In [ ]:
sns.histplot(df["Dep_Minutes"])

In [ ]:
plt.figure(figsize=(12, 8))
plt.subplot(2, 2, 1)
sns.boxplot(df["Day"])

plt.subplot(2, 2, 2)
sns.boxplot(df["Arrival_Hour"])

plt.subplot(2, 2, 3)
sns.boxplot(df["Duration_Minute"])

plt.subplot(2, 2, 4)
sns.boxplot(df["Total_Stops"])
sns.stripplot(df["Total_Stops"])

In [ ]:
df.head(2)

In [ ]:
# Is there any relation between 
sns.countplot(x="Total_Stops", hue="Route", data=df)
plt.show()

In [ ]:
sns.boxplot(y="Route", hue="Total_Stops", data=df)

# Train Test Split

In [ ]:
# Feature selection
y = df["Price"]
df.drop("Price", axis=1, inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=0)
# X_train
# X_test
# y_train
# y_test

In [ ]:
X_train_data = X_train[["Route", "Total_Stops", "Duration_Hour", "Duration_Minute"]].values
X_test_data = X_test[["Route", "Total_Stops", "Duration_Hour", "Duration_Minute"]].values

# X_train_data
# X_test_data

# Model Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train_data, y_train)

In [ ]:
# coef_
m = model.coef_
m

In [ ]:
# intercept_
c = model.intercept_
c

In [ ]:
# y_predicted value
y_pred = model.predict(X_test_data)
y_pred[:5]

In [ ]:
X_test_data[0]

In [ ]:
price = c + m[0] * df["Route"] + m[1] * df["Total_Stops"] + m[2] * df["Duration_Hour"] + m[3] * df["Duration_Minute"]
price

In [ ]:
df.head(2)

In [ ]:
sns.regplot(x="Route", y=y, data=df)
sns.regplot(x="Route", y=price, data=df)

In [ ]:
ax1 = sns.distplot(y_test, hist=False, color="r", label="Actual value")
sns.distplot(y_pred, hist=False, color="b", label="fitted values", ax=ax1)

In [ ]:
model.predict([[2, 4, 22, 4]])

In [ ]:
list = [float("Nan")]
print(list)

In [ ]:
route_1 = 0
for i in range(2):
    route_i.append("Hello")

In [ ]:
df.groupby(["Airline"], as_index=False).Price.mean()

In [ ]:
df.Additional_Info.unique()