## Set
- A set is a collection, which is unordered, Unchangeable, and Duplicates are not allowed.
  - `Unordered:` 
    - It means that the items in a set do not have defined order. Concepts of Indexing is not used.
  - `Unchangeable:`
    - Once set is created, you cannot change the items, but you can remove items and add new items i.e. **sets are mutable**.
  - Unidexed:
    - `Duplicates are not allowed:`
      - Sets cannot have two items with same value.
      - _`True and 1 are considered as same in set`_ 

- Sets are written with curly **{}** brackets. Python will automatically remove duplicates.
  - _`True and 1 are considered as same in set`_ 
  - _`False and 0 are considered as same in set`_

- We only work with simple sets. There is no concepts of nested sets in python.
  - We can achieve nested sets like concepts using frozenset (which is out of scope of this class).
  - Example: `simple_set = {'item1', True, False}`

- In this lecture we'll cover:
  - Creating Sets
  - Sets methods / Operations
  - Sets are mutable
  - Loop Sets
  - Set Comprehension

## 1. Creating Sets
- To create a Set, type the set items within curly brackets **{ }**, separated by commas.
- Example: {"item1", 2, 'item3', 4}

In [8]:
# create empty set
# use: set()
sample_set = set([3, 42, 4])
sample_set

{3, 4, 42}

In [6]:
# display type 
type(sample_set)

set

In [11]:
# create simple set with mixed data types
simple_set = {"item1", True, 1, 24.1, 23, "item2", "item1"}
simple_set

{23, 24.1, True, 'item1', 'item2'}

In [13]:
# display type 
type(simple_set)

set

In [14]:
# display length of set
# Hint: len(set)
len(simple_set)

5

`Since Sets are unordered, there is no concepts of Set Indexing and Slicing`

## 2. Sets Methods/Operations.
- Most common set methods/operations are:
  - `add(): ` Method to add a new element to a set.
  - `remove():` Method to remove item from a set.
  - `pop(): ` Method to remove item from a set and returns removed item
  - `union(): ` Method that return a set containing union of sets..
  - `intersection(): ` Method that return a set that is intersection of 2 other sets.
  - `difference(): ` Method that return a set containing difference between two or more sets.

**add()**  
- Method to add a new element to a set itself
- `Syntax: set.add(<item>)`

In [15]:
# inialize set
set_methods = {True, 1, 'set', 'methods', 0}
print(set_methods)

{0, True, 'methods', 'set'}

In [20]:
# add item "awesome"
# hint: set.add(<item>)
set_methods.add("awesome")
set_methods

{0, True, 'awesome', 'methods', 'set'}

**remove()**  
- Method to remove item from a set itself, without returning new set.
- `Syntax: set.remove(<item>)`

In [21]:
# remove item "awesome" from set
# hint: set.remove(<awesome>)
set_methods.remove("awesome")
set_methods

{0, True, 'methods', 'set'}

`Note: If item name is not present in Set, it will raise an error/exception.`

**pop()**
- You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.
- Generally, it will remove from starting item in a set.
- It returns a item that is removed from a set.
- `syntax: removed_item = set.pop()`

In [23]:
# remove set item using "pop()"
# hint: removed_item = set.pop()
removed_item = set_methods.pop()
removed_item

True

In [27]:
set_methods.discard("Home") # doesn't raise error if item is not in Set
set_methods

{'methods', 'set'}

**union()**
- Method that return a set containing union of sets.
- The union of two sets A and B include all the elements of set A and B. No duplicates in final obtained set.
- `syntax:`
  1. set_union = set1.union(set2)
  2. set_union = set1 | set2

In [29]:
## create two sets
set1 = {1, 2, 3, 4, 5}
set2= {4, 5, 6, 7, 8}

print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [32]:
# union of set using union() method
# hint: set_union = set1.union(set2)

set_union = set1.union(set2)

print(f"Union of set1 and set2 is: {set_union}")

Union of set1 and set2 is: {1, 2, 3, 4, 5, 6, 7, 8}
Union of set2 and set1 is: {1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
# union of set using (|) operator
# hint: set_union_pipe = set1 |set2 
set_union_pipe = set1 | set2
set_union_pipe

{1, 2, 3, 4, 5, 6, 7, 8}

**intersection()**
- Method that return a set containing intesection of sets.
- The intersection of two sets A and B include the common elements between set A and B. No duplicates in final obtained set.

- `syntax:`
  1. set_common = set1.intersection(set2)
  2. set_union = set1 & set2

In [35]:
# intersection of set using intersection() method
# hint: set_common = set1.intersection(set2)

print(set1, set2)
set1.intersection(set2)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}

{4, 5}

In [37]:
# intersection of set using (&) operator
# hint: set_common2 = set1 & set2

set_common2 = set2 & set1
set_common2

{4, 5}

**difference():** 
- Method that return a set containing difference between two or more sets.
- The difference between two sets A and B denoted by `A-B`include elements of set A that are not present on set B.
- `syntax: set_diff = set1.difference(set2)`

In [42]:
# difference of set using difference() method
# hint: set_diff = set1.difference(set2)
# or
# hint: set_diff = set1 - set2
print(set1, set2)
print(set1 - set2, set2 - set1)
set_difference = set1.difference(set2)
set_difference

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}
{1, 2, 3} {8, 6, 7}

{1, 2, 3}

**Different Set Methods:**  

| Method                  | Description                                                          |
|-------------------------|----------------------------------------------------------------------|
| add()                   | Adds an element to the set                                            |
| clear()                 | Removes all the elements from the set                                  |
| copy()                  | Returns a copy of the set                                             |
| difference()            | Returns a set containing the difference between two or more sets      |
| difference_update()     | Removes the items in this set that are also included in another, specified set |
| discard()               | Remove the specified item                                             |
| intersection()          | Returns a set, that is the intersection of two other sets             |
| intersection_update()   | Removes the items in this set that are not present in other, specified set(s) |
| isdisjoint()            | Returns whether two sets have an intersection or not                  |
| issubset()              | Returns whether another set contains this set or not                  |
| issuperset()            | Returns whether this set contains another set or not                  |
| pop()                   | Removes an element from the set                                       |
| remove()                | Removes the specified element                                         |
| symmetric_difference()  | Returns a set with the symmetric differences of two sets              |
| symmetric_difference_update() | Inserts the symmetric differences from this set and another           |
| union()                 | Return a set containing the union of sets                             |
| update()                | Update the set with the union of this set and others                  |

In [69]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set1.intersection_update(set2)
set1

{4, 5}

In [70]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8}

## 3 .Sets are Mutable
- Like Lists, Sets are mutable.
  - We can add new items to set.
  - We can delete existing items in set.
  - However, we cannot change existing item to another item in a set.

In [78]:
# Given Set, verify Sets are mutable
# Hint: .add(item)
sets_mutable = {234, 23, 244, 234, 231}
sets_mutable.add("Home")
sets_mutable.update({"Alone", "Away"})
sets_mutable.add("Conscious")
sets_mutable.add(2)
sets_mutable

{2, 23, 231, 234, 244, 'Alone', 'Away', 'Conscious', 'Home'}

## 5 Loop Sets.

- Similar to Strings, List, Tuple, you can also loop through list items using a **for** loop.

`Q. Initialize Set and print set items one by one using for loop.`

In [85]:
# write your program
set1 = {234, 23, True, False, "home", "Science", "Home"}
for item in set1:
    print(item)
    print("(--------)")

False
(--------)
True
(--------)
Science
(--------)
home
(--------)
23
(--------)
234
(--------)
Home
(--------)

## 6. Set Comprehension
- As seen in List chapter, we can also use concept of List comprehension in set as well.

`Q. Given List = ['item1', 1, 2, 'item4'], create Set using list items using Set comprehension.`

_output: {'item4', 1, 2, 'item1'}_

In [86]:
# Initialize list 
# create set using set comprehension

sample_list = ['item1', 1, 2, 'item4']
sample_set = {item for item in sample_list}
sample_set

{1, 2, 'item1', 'item4'}

In [87]:
len(sample_set)

4

In [89]:
type(sample_set)

set

**Q. Write a python program to sort Set items in ascending order.**

`Hint: sorted(<iterable>, reverse=False`

                          

<hr>
<h2>Congratulations, you have completed your hands-on lab in Python Set. 
<hr>

In [102]:
sample_set = {34, 23, 53, 98, 23}

In [103]:
sample_set

{23, 34, 53, 98}

In [112]:
sorted_set = sorted(sample_set, reverse=True)

In [113]:
sorted_set

[98, 53, 34, 23]