## Python List
- Python List falls under the compound data types i.e. they are composed of one or more basic data types.
- It means, A List is a sequence collection of different objects such as integers, strings, and even other lists as well.
- Python Lists are represented with square brackets.
  - Example: `["item1", 2, "item3", 4.0]`
- Unlike array, List can store data of multiple data types like string, integer, float, etc.
- Python Lists are also an ordered sequences.
  - It means the items have a defined order, and that order will not change.
  - If you add new items to a list, the new items will be placed at the end of the list.

- Unlike Strings, Lists are mutable meaning, we can change, add, and remove items in a list after  it is created.

- Similar to Strings, we can perform loop through items in a list.

- In this lecture we'll cover:
  - Creating Lists
  - Indexing Lists
  - Slicing Lists
  - Lists are mutable
  - List methods
  - Join Lists
  - Loop Lists
  - List Comprehension
  - List exercise

### 1. Creating Lists
- To create a list, type the list items within square brackets **[]**, separated by commas.
- Example: ["item1", 2, 'item3', 4]

- List can be categorized into 2 types:
  1. simple list:
    - Example: [1, 2, 3, 4]
  2. Nested list: 
    - They list within list.
    - Also called as 2D list.
    - Example: [[1, 2], [3, 4]]

In [2]:
# create simple list with mixed data types
simple_list = ["Home", 23, "Alone", True, 23.5]
print(simple_list)

['Home', 23, 'Alone', True, 23.5]

In [3]:
# display type 
type(simple_list)

list

In [4]:
# display length of list
# Hint: len(list)
len(simple_list)

5

In [8]:
# create nested list
nested_list = [[23, "Ktm", True, 23.3], ["Mountain", False, 233.2]]
print(nested_list)

[[23, 'Ktm', True, 23.3], ['Mountain', False, 233.2]]

In [6]:
# display type of nested list
type(nested_list)

list

In [7]:
# display length of nested list
# Hint: len() 
len(nested_list)

2

**List creation from Strings**
- use .split() method

In [14]:
# Initialize any non-empty string
#
# split string to create list
str_1 = "My hometown is Pokhara."
str_1.split(" ")

['My', 'hometown', 'is', 'Pokhara.']

###2. Indexing Lists
- Indexing works similar to that of Strings.
- As we know, list is a sequenced collection of different objects such as Strings, Integer, etc.
- The address of each element within a list is called an index.
- An index is used to access and refer to items within a list.

  <img src='https://drive.google.com/uc?id=1SB5gGtnvQp3Fx0gG9YruM4VgmAe-HDQc' width='400'>

**positive indexing**

In [17]:
# initialize simple list of length 5
s_list = [3, 23.2, 44, 23, 21]
s_list

[3, 23.2, 44, 23, 21]

In [18]:
# print 1st item using positive index
s_list[0]

3

In [19]:
# print 3rd item using positive index
print(s_list[2])

44

In [21]:
# print last item using positive index
print(s_list[len(s_list) - 1])

21

`Now lets try to index nested list`

In [23]:
# initialize nested list of length 5
nested_list = [[3, 4], [23, 44], [234, 232], [2343, 2342], [32344, 23423]]
print(nested_list, len(nested_list))

[[3, 4], [23, 44], [234, 232], [2343, 2342], [32344, 23423]] 5

In [32]:
# practice indexing
print(nested_list[0])
print(nested_list[len(nested_list)-1])
print(nested_list[3])
print(nested_list[3][1])
print(nested_list[2][0])

[3, 4]
[32344, 23423]
[2343, 2342]
2342
234

**negative indexing**

In [33]:
# reinitialize simple list of length 5
simple_list = ["Home", 3, True, 2.5, "Away"]
simple_list

['Home', 3, True, 2.5, 'Away']

In [45]:
# print 1st item using negative index
print(simple_list[-len(simple_list)])

Home

In [44]:
# print 3rd item using negative index
print(simple_list[-len(simple_list) + 2])

True

In [43]:
# print last item using negative index
simple_list[-1]

'Away'

### 3. Slicing Lists
- Slicing Lists means extracting part of list items.
- Concepts of Slicing Lists is similar to Slicing Strings.
- `Syntax: list[start:end:step]`

  <img src='https://drive.google.com/uc?id=1j7BjHU8MmE0LFv1Qls9F-4h3NheDoLAD' width='500'>

**case 1: when step is positive**

In [46]:
# initialize simple list (refer to above example)
simple_list = ["Home", 3, True, 2.5, "Away"]
print(simple_list)

['Home', 3, True, 2.5, 'Away']

In [47]:
# slice first 3 items using positive index
simple_list[:3]

['Home', 3, True]

In [48]:
# slice last 3 items using negative index
simple_list[-3:]

[True, 2.5, 'Away']

In [4]:
# get list item at even index
# e.g. ['S', 'r', 'n', ' ', 'n', 'e', i]
simple_list = "string indexing"
even_index = []
for index in range(len(simple_list)):
    item = simple_list[index]
    if index % 2 == 0:
        even_index.append(item)
even_index

['s', 'r', 'n', ' ', 'n', 'e', 'i', 'g']

**case 2: when step is negative**

In [35]:
# slice first 3 list items using positive index
even_index[:3]

['s', 'r', 'n']

In [36]:
# slice last 3 list items using negative index
even_index[-len(even_index) + 2:-len(even_index) - 1:-1]

['n', 'r', 's']

In [37]:
# reverse list
# output: ['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 'S']

In [38]:
even_index[::-1]

['g', 'i', 'e', 'n', ' ', 'n', 'r', 's']

###4. Lists are mutable
- Unlike Strings, Lists are mutable
- It means we can change list items after its creation.

In [26]:
# verify lists are mutable
mutable_list = ['hi', 'i', 'am', 'mutable']
print(mutable_list)

['hi', 'i', 'am', 'mutable']

In [27]:
# change first item 'hi' to 'hello'
mutable_list[0] = "hello"
mutable_list

['hello', 'i', 'am', 'mutable']

Assigning new value, we didn't got error. We can say Lists are mutable.

###5. List Methods
- Most common Lists methods are:
  - `append()`: Methods to add an item to the end of the list.
  - `insert()`: Methods to add an item to list at a specified index.
  - `extend()`: Methods to append elements from another list to the current list
  - `remove()`: Methods to remove the specified item using item name.
  - `pop()`: Methods to remove the list item using index. By Default pop takes up the last index.
  - `reverse()`: Methods to reverse list.
  - `sort()`: Methods to sort the string either in ascending order or descending order.

In [44]:
# Create a new list

list1 = [1, 2, 3, 4]

In [45]:
# add new item to the end of a list
# Hint: list.append(<item>)
list1.append(3)
list1

[1, 2, 3, 4, 3]

In [46]:
# add new item at index 1 using insert()
# Hint: list1.insert(<index>, <item_to_insert>)
list1.insert(1, True)
list1

[1, True, 2, 3, 4, 3]

`If we run insert() methods multiple times, then item will be added at specified index and length of list will grow accordingly.`

In [52]:
# Given two list i.e. list1 and list2
# extend list1 with item from list 2
# Hint: list1.extend(list2)
list1 = [24, 23, 44, 23]
list2 = [43, 23, 11, 42]
list1.extend(list2)
list1
list2.extend(list1)
list2

[43, 23, 11, 42, 24, 23, 44, 23, 43, 23, 11, 42]

In [59]:
# remove specific item from list
# Hint: list.remove(<item_name>)
list = ["Apple", "Banana", "Graphes", "Orange"]
list.remove("Banana")
list

['Apple', 'Graphes', 'Orange']

In [60]:
# remove item at index 1 of list
# Hint: list1.pop(<index>)
list.pop(0)

'Apple'

In [61]:
# remove last item from list
# Hint: list1.pop()
list.pop()

'Orange'

In [66]:
# reverse list
# Hint: list.reverse()
list = ["Apple", "Pineapple", "walnut", "Banana", "Graphes", "Orange"]
list.reverse()
list

['Orange', 'Graphes', 'Banana', 'walnut', 'Pineapple', 'Apple']

In [67]:
# sort list in ascending order
# hint: list.sort()
list.sort()
list

['Apple', 'Banana', 'Graphes', 'Orange', 'Pineapple', 'walnut']

In [69]:
# sort list in descending order
# hint: list.sort(reverse=True)
list.sort(reverse=True)
list

['walnut', 'Pineapple', 'Orange', 'Graphes', 'Banana', 'Apple']

### 6. Join Lists
- Given list, how can we join the list items?
- Technique to convert list to string.
- `Example:`
  - input_list = ['hello', 'world']
  - ouput_list = "hello world"

- **syntax:** `result = separator.join(<list>)

  where, separator is the string that will be used to separate the elements in the resulting string.

In [70]:
# create new list
new_list =["Data", "Science", "and", "Python"]

In [72]:
# join list by space to form new string
# Hint: " ".join(<list>)
output_list = " ".join(new_list)
print(output_list, type(output_list))

Data Science and Python <class 'str'>

### 7. Loop Lists

- Similar to Strings, you can also loop through list items using a **for** loop.

`Q. Initialize List and print list items one by one using for loop.`

In [73]:
# create list
numbers = [23, 24, 53, 98, 23]
# loop through list items
for item in numbers:
    print(item)

23
24
53
98
23

In [74]:
# loop through list items using enumerate()
for index, item in enumerate(numbers):
    print(index, item)

0 23
1 24
2 53
3 98
4 23

We will experiment other ways of looping using **range()** function and **while** loop in Loop Chapter.

### 8. List Comprehension
- List comprehension offers the shortest syntax for looping through lists.
- Syntax: **newlist = [expression for item in iterable if condition == True]**


`Q.1 Write a python program to lowercase item in given list using list comprehension.`
  - Input: sample_list = ["APPLE", "Mango", "BaNaNa", "GRapes"]
  - Output: lower_list = ["apple", "mango", "banana", "grapes"]

`Q.2 Given list of fruits i.e. fruit_list = ['apple', 'mango', 'banana', 'grapes', 'coffee'], Create new list named fruit_list removing item which is not fruit. Example = coffee.`

`Q.3 `

In [76]:
## write your program (for Q1)
sample_list = ["APPLE", "Mango", "BaNaNa", "GRapes"]
lower_list = [item.lower() for item in sample_list]
lower_list

['apple', 'mango', 'banana', 'grapes']

In [80]:
## write your program (for Q2)
fruit_list = ["apple", "mango", "banana", "grapes", "coffee"]
fruit_list = [item for item in fruit_list if item != "coffee"]
fruit_list

['apple', 'mango', 'banana', 'grapes']

### 9. List exercise

**Q.1 Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.**

  `sample_list: ['mango', 'banana', 'kiwi', 'apple', 'grapes']`  
  `output: banana, 6`  

**Q.2 Write a python program to sum all the items in a list.**

  `sample_list: [1, 2, 3, 4, 5]`
  `output: sum = 15`


**Q.3 Write a python program to get the largest number from a list.**

  `sample_list: [10, 20, 30, 100, 40]`  
  `output: largest number = 100`


**Q.4 Write a python program to get the smallest number from a list.**

  `sample_list: [-1, 0, 1, 2]`
  `output: smallest number = -1`

**Q.5 Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.**

  `Input: sample_list = ['abc', 'xyz', 'aba', '1221']`  
  `output: str_count = 2`

**Q.6 Write a python program to check a list is empty or not.**

**Q.7 Write a python program to insert a given string at the beginning of all items in a list.**

  `sample_list = [1, 2, 3, 4]`  
  `str_to_inser = "emp"`  
  `output_list = ['emp1', 'emp2', 'emp3', 'emp4']`

In [86]:
# Q.1 Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.

# sample_list: ['mango', 'banana', 'kiwi', 'apple', 'grapes']
# output: banana, 6
sample_list = ['mango', 'banana', 'kiwi', 'apple', 'grapes']

['banana']