In [1]:
import pandas as pd

In [8]:
columns = ["Gender", "Age(G)", "Weight", "Height"]
data = [("Male", "E", 70, 7.8), ("Female", "A", 80, 7.9), ("Male", "A", 55, 6.1), ("Male", "C", 60, 5.3), ("Female", "A", 33, 5.2)]

In [9]:
df = pd.DataFrame(data, columns=columns)
df

   Gender Age(G)  Weight  Height
0    Male      E      70     7.8
1  Female      A      80     7.9
2    Male      A      55     6.1
3    Male      C      60     5.3
4  Female      A      33     5.2