In [15]:
import pandas as pd
import seaborn as sns

In [16]:
df = sns.load_dataset("iris")

In [17]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
df.shape

(150, 5)

In [19]:
# df.sepal_length.value_counts()

In [25]:
df.drop(df[df.sepal_length == 7.9].index, inplace=True)

In [26]:
df.sepal_length.value_counts()

sepal_length
5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
5.2     4
4.6     4
5.9     3
4.4     3
6.8     3
7.2     3
6.6     2
4.7     2
7.0     1
5.3     1
4.5     1
4.3     1
7.1     1
7.6     1
7.3     1
7.4     1
Name: count, dtype: int64